html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,inner,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0};
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/*=====================================*/
@font-face {
	font-family: "BauhausStdLight";
	src: url('../fonts/bauhaus-std-light.otf') format('opentype');
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	height: 100%;
	font: 12px/18px 'Arial';
	max-width: 1000px;
	margin: 0 auto;
}

a {
	cursor: pointer;
	text-decoration: none;
}
input, textarea, select {
	outline: none;
	border: none;
}

/*+++++++++++++++++++++++++++++++++++++++*/
.wrapper {
	width: 1000px;
	background: #eae3d1;
	height: 100%;
}
	.header {
		height: 182px;
		background: #fdfcf2;
		border-bottom: 1px solid #d4ccb8;
		overflow: hidden; 
	}
		.header__bg {
			width: 922px;
			border-left: 0 solid #ef2d5d;
			border-bottom-left-radius: 85px 59px;
			box-shadow: 3px 7px 0px 1px #ef2d5d, -15px -10px 0px 25px #ef2d5d, -13px -29px 0px 25px #3aafeb, -16px -37px 0px 63px #3aafeb;
			float: right;
			height: 182px;
		}
			.header__top {
				padding: 18px 13px 13px 67px;
			}
				.header__link {
					display: block;
					height: 76px;
					padding-top: 3px;
				}
				.header__title {
					font: 72px 'BauhausStdLight';
					color: #786566;
					text-transform: uppercase;
				}
				.header__brief {
					font: 14px 'BauhausStdLight';
					color: #cbb6b6;
					padding-left: 43px;
				}

.main {

}