.active
	&__list
		display flex
		flex-direction row
		justify-content center
		flex-wrap wrap
	&__list-item
		clearfix()
		background $base-grey
		border-radius 6px
		min-width 250px
		padding 10px
		margin 10px
		position relative
		&:hover .active__discr
			visibility visible
			opacity 0.9
		&:after
			position absolute
			content attr(data-speed)
			display block
			display block
			min-width 30px
			height 10px
			text-align center
			color $text
			top 0
			right 0
			z-index 4
			font-size 13px
			padding 5px
			border-left 1px solid $base-green
			border-bottom 1px solid $base-green
			border-bottom-left-radius 6px
			
	&__info
		float right
		clearfix()
		padding 15px 0
		font-size 13px

	&__info-item
		padding 3px 0
		
		span
			color $text-accent
			padding-left 5px
			
	&__discr-item 
		font-size 10px
		padding 5px 0
		span
			color $text-accent
			padding-left 5px
		
	&__discr
		visibility hidden
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		border-radius 6px
		background $base-grey
		opacity 0
		color $text
		padding 20px
		transition visibility 1s, opacity .2s linear
		z-index 9
		
.progress-bar
	float left
	margin-right 10px
	width 100px
	height 100px
	position relative
	
	&:after
		content ''
		width 96px
		height 96px
		background transparent
		position absolute
		border-radius 50%
		left 0
		top 0
		z-index 8
		border 2px solid $base-dark
		
	.percentage
		position absolute
		width 100%
		color $base-green
		text-align center
		z-index 6
		font-size 20px
		font-weight 300
		top 40px
	.progress
		width 100px
		height 100px
		background $base-dark
		// border 2px solid $base-dark
		border-radius 50%
		position relative
		overflow hidden
		
	.progress:before
		content ''
		text-align center
		color $base-green
		width 70px
		height 70px
		background $base-grey
		position absolute
		border-radius 50%
		left 13px
		top 13px
		z-index 5
		border 2px solid $base-dark
		
	.progress .hide
		height 100%
		width 50%
		position absolute
		left 50%
		top 0
		background $base-dark
		z-index 4
		transform-origin left center
		transform rotate(0deg)
		
	.progress .active, .progress .active2
		width 50%
		height 100%
		background $base-green
		position absolute
		z-index 3
		left 50%
		top 0

	.progress .active2
		transform-origin left center
		transform rotate(0deg)
		
	// styles for stuck items
	&.stuck
		.percentage
			color $warning
		.progress .active, .progress .active2
			background $warning
				