* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
i {
  display: inline-block;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
input,
button,
textarea {
  outline: none;
  border: none;
  cursor: pointer;
}
input[type=text]::-ms-clear {
  display: none;
}
input[type=password]::-ms-reveal {
  display: none;
}
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000 /* firefox 19+ */;
}
:-ms-input-placeholder {
  color: #000 /* ie */;
}
input:-moz-placeholder {
  color: #000;
}
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
.page-content {
  padding-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}
