#statistic {
  display: none;
}
.buttongroup .transparent-button {
  float: left;
  padding: 10px 26px;
  color: $text;
  font-size: 14px;
  border: 2px solid $base-grey;
}
.buttongroup .transparent-button.first {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.buttongroup .transparent-button.last {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
.buttongroup .transparent-button:hover {
  background: $grafit;
}
.buttongroup .transparent-button[data-selected="true"] {
  background: $grafit;
}
.table {
  padding-top: 25px;
}
.table table {
  width: 100%;
}
.table table tr th,
.table table tr td {
  padding: 12px 10px;
  text-align: center;
}
.table table tr th {
  position: relative;
  color: $text-accent;
}
.table table tr th:after {
  content: '';
  position: absolute;
  display: block;
  height: 18px;
  width: 2px;
  background: $base-grey;
  right: 0;
  bottom: 0;
}
.table table tr th:last-child:after {
  content: none;
}
.table table tr td {
  font-size: 14px;
}
.table table thead tr {
  border-bottom: 3px solid $base-grey;
}
.table table tbody tr {
  border-bottom: 1px solid $base-grey;
}
.table table tbody tr:hover {
  border-bottom: 1px solid $base-green;
}
.table table tbody tr[data-extra="closed"] {
  display: none;
}
.table table tbody tr[data-extra="opened"] {
  display: table-row;
  border-bottom: 1px solid $base-green;
}
.table table tbody tr[data-extra="opened"] td {
  text-align: left;
  padding: 15px;
}
.table table tbody tr[data-selected="true"] {
  border-bottom: 1px solid transparent;
}
