@import 'reset.less';
@import 'mixins.less';
@import 'fonts.less';
i {
  display:	inline-block;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #fff;
  font-family: @font;
  color: #7e8287;
}
i {
  display: inline-block;
}
// Separate Modificators start
.bg-orange {
  background: @orange;
}
.bg-green {
  background: @green;
}
.bg-teal {
  background: @teal;
}
.text-orange {
  color: @text-orange;
}
.text-green {
  color: @text-green;
}
.text-teal {
  color: @text-teal;
}
// Separate Modificators end