@import 'reset.less';
@import 'mixins.less';
@import 'fonts.less';
i {
  display:	inline-block;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #fff;
  font-family: @font;
  color: #7e8287;
}
i {
  display: inline-block;
}
h2 {
  font-size: 46px;
  font-family: @font-extra;
  letter-spacing: 3px;
  color: @teal;
  padding: 15px 0;
  text-transform: uppercase;
}
.block-center {
  margin: 30px auto;
  max-width: 920px;
}

//custom bootstrap start
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-toggle {
    border: 1px solid @yellow;
  }
  .navbar-toggle .icon-bar {
    background: @yellow;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: @yellow;
  }
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    background: @teal;
    z-index: 1;
    position: relative;
  }
  .navbar-nav {
    margin-top: 8px;
  }
//custom bootstrap end

.wrapper {
  position: relative;
  min-height: 100%;
}
.wrap-inner {
  max-width: 980px;
  margin: 0 auto;
}
.header {
  height: 62px;
  background: @teal;

  &__logo {
    font: 26px @font-extra;
    &.yellow {
      color: @yellow;
    }
    &.white {
      color: #fff;
    }
  }
  &__nav {
    &-link {
      text-transform: uppercase;
      font-size: 12px;

      & a {
        color: #fff;
      }
    }
  }
}
.content {
  display: table;
  width: 100%;
  height: 728px;
  background: url(../images/bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

  &__cell {
    display: table-cell;
    vertical-align: middle;
  }
  &__text {
    color: #fff;
    padding: 15px 0;
    &.middle {
      font-size: 30px;
    }
    &.extra {
      font-size: 68px;
      font-family: @font-extra;
      text-transform: uppercase;
      letter-spacing: 20px;
    }
    &.small {
      font-size: 18px;
    }
  }
  &__box {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 108px;
      height: 25px;
      background: url(../images/spritesheet-backs.png) 0 0;
    }
  }
  &__btn {
    background: @yellow;
    color: #000;
    font-family: @font-extra;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 0;
    margin-top: 50px;
    padding: 12px 20px;

  }
}
.block {
  padding: 50px 0;
  height: 728px;

  &__text {
    font-size: 16px;
    line-height: 40px;
    &.bold {
      font-family: @font-extra;
      font-size: 23px;
    }
  }
  &__thumb {
    height: 255px;
    border: none;
    border-right: 1px solid #e2e2e2;
    &:last-of-type {
      border-right: none;
    }
  }
}
.separator {
  font: 16px 'Arail';
  color: #7e8287;
}
.footer {
}
@media screen and (max-width: 768px) {
  .content {
    height: 528px;

    &__text {
      &.middle {
        font-size: 22px;
      }
      &.extra {
        font-size: 34px;
        letter-spacing: 16px;
      }
      &.small {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .content {
    height: 328px;

    &__text {
      padding: 10px 0;
      &.middle {
        font-size: 16px;
      }
      &.extra {
        font-size: 20px;
        letter-spacing: 10px;
      }
      &.small {
        font-size: 12px;
      }
    }
  }
}