html,
body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  color: #595d5d;
}
body {
  padding: 30px;
  min-width: 320px;
}
.wrapper {
  display: flex;
  align-items: stretch;
}
.wrapper.portfolio {
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar {
  min-width: 250px;
  border-right: 1px solid #595d5d;
  padding: 0 20px 0 10px;
}
.sidebar__header {
  text-align: center;
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #595d5d;
  margin-bottom: 15px;
}
.sidebar__header h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
}
.content {
  width: 100%;
  padding: 0 10px 0 20px;
}
.block {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  background: #f5fafc;
}
.block__sublist {
  padding-left: 15px;
  list-style-type: disc;
}
.block__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
}
.block ul {
  font-size: 14px;
}
.block ul li {
  line-height: 20px;
}
a {
  color: #39a9e1;
}
a:hover {
  text-decoration: none;
}
.mark {
  display: flex;
  align-items: space-between;
}
.mark__title {
  max-width: 100px;
  min-width: 100px;
  line-height: 25px;
  font-size: 14px;
}
.mark__board {
  width: 100%;
  height: 25px;
  text-align: right;
}
.mark__board.one-mark span:nth-of-type(-n + 1):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  left: 6px;
  background: #595d5d;
  transform: rotate(45deg);
}
.mark__board.one-mark span:nth-of-type(-n + 1):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  right: 8px;
  background: #595d5d;
  transform: rotate(-45deg);
}
.mark__board.two-mark span:nth-of-type(-n + 2):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  left: 6px;
  background: #595d5d;
  transform: rotate(45deg);
}
.mark__board.two-mark span:nth-of-type(-n + 2):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  right: 8px;
  background: #595d5d;
  transform: rotate(-45deg);
}
.mark__board.three-mark span:nth-of-type(-n + 3):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  left: 6px;
  background: #595d5d;
  transform: rotate(45deg);
}
.mark__board.three-mark span:nth-of-type(-n + 3):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  right: 8px;
  background: #595d5d;
  transform: rotate(-45deg);
}
.mark__board.four-mark span:nth-of-type(-n + 4):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  left: 6px;
  background: #595d5d;
  transform: rotate(45deg);
}
.mark__board.four-mark span:nth-of-type(-n + 4):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  right: 8px;
  background: #595d5d;
  transform: rotate(-45deg);
}
.mark__board.five-mark span:nth-of-type(-n + 5):before {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  left: 6px;
  background: #595d5d;
  transform: rotate(45deg);
}
.mark__board.five-mark span:nth-of-type(-n + 5):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  right: 8px;
  background: #595d5d;
  transform: rotate(-45deg);
}
.mark__board span {
  position: relative;
  width: 15px;
  height: 20px;
  display: inline-block;
  border-bottom: 1px solid #595d5d;
}
.button {
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #595d5d;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  color: #595d5d;
  text-decoration: none;
  line-height: 38px;
  font-size: 14px;
}
.button:hover {
  background: #595d5d;
  color: #fff;
}
.item {
  min-width: 200px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 10px 15px;
  border: 1px solid #595d5d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item:hover .item__preview {
  display: flex;
}
.item__preview {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  background: #fff;
  padding: 10px;
}
.item img {
  width: 100%;
  opacity: 0.5;
}
.non-important {
  color: #9fb3bc;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar {
    min-width: 100%;
    border-right: none;
    padding: 0 0 0 10px;
  }
}
