@font-face
	font-family 'daxcondensed-lightregular'
	src url('../fonts/daxcondensedlight.eot')
	src url('../fonts/daxcondensedlight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/daxcondensedlight.woff2') format('woff2'),
		url('../fonts/daxcondensedlight.woff') format('woff'),
		url('../fonts/daxcondensedlight.ttf') format('truetype')
	font-weight normal
	font-style normal
	
@font-face
	font-family 'daxcondensed-blackregular'
	src url('../fonts/daxcondensedblack.eot')
	src url('../fonts/daxcondensedblack.eot?#iefix') format('embedded-opentype'),
	url('../fonts/daxcondensedblack.woff2') format('woff2'),
	url('../fonts/daxcondensedblack.woff') format('woff'),
	url('../fonts/daxcondensedblack.ttf') format('truetype')
	font-weight normal
	font-style normal
