@import 'mixins.styl'
@import 'variables.styl'
@import 'fonts.styl'
// default styles start
*
	box-sizing border-box
	-moz-box-sizing border-box
i
	display inline-block

a
	text-decoration none
html
	position relative
html, body
	min-height 100%
	width 100%
	margin 0 auto
	background $light-grey
	font 13px $base-font
	color #373535

input, button, textarea
	outline none
	border none
	cursor pointer
	
input[type=text]::-ms-clear
	display none

input[type=password]::-ms-reveal
	display none

input[type='submit']
	-webkit-appearance none
	-moz-appearance none
	appearance none

::-webkit-input-placeholder 
	color #000
::-moz-placeholder
	color #000 /* firefox 19+ */
:-ms-input-placeholder
	color #000/* ie */
input:-moz-placeholder
	color #000

textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder
	color transparent
// default styles end

// sticky footer start
.page-content
	padding-bottom $footer-height*3

.footer
	position absolute
	bottom 0
	min-height $footer-height
	width 100%
// sticky footer end

// general styles start
.clearfix
	clearfix()
.flex-justify-center
	display -webkit-flex
	display flex
	-webkit-flex-direction row /* works with row or column */
	flex-direction row
	-webkit-align-items center
	align-items center
	-webkit-justify-content space-between
	justify-content space-between
	
.wrap
	max-width 980px
	margin 0 auto
	&.form-position
		position: relative;
		top: -40px;
		z-index: 1;
	
.expand-menu
	display none
	float right
	background-color transparent
	width 30px
	height 30px
	margin 10px
	border-top 2px solid #fff
	border-bottom 2px solid #fff
	font 17px $title-font-l
	color #fff
	
.select2-container--default .select2-selection--single.dir-drop
	background-color $black
	border none
	font 13px $base-font
	outline none
	
	.select2-selection__rendered
		color #fff
.select2-dropdown.dir-dropdown
	background-color $black
	font 13px $base-font
	color #fff
	outline none
	border none

.select2-container--default .select2-selection--single.form-drop
	font 13px $base-font
	outline none
	width 100%
.bold-text
	font-weight 700
	font-size 18px
.btn-blue
	padding 5px 15px
	background $light-blue
	font 14px $base-font
	color #fff
	font-weight 700
	display inline-block
	vertical-align bottom
	margin-top 8px
	&:hover
		opacity 0.7
// general styles end

// header start
.header
	width 100%
	background $black
	padding 20px 0
	&__logo
		position relative
		display inline-block
		font 28px $title-font-l
		color #fff
		text-transform uppercase
		padding 8px 0
		border-top 1px solid #3b3b3b
		border-bottom 1px solid #3b3b3b
		&:before
			content ''
			position absolute
			display block
			background $black
			width 55px
			height 9px
			left 0
			right 0
			bottom -4px
			margin auto
		&:after
			content ''
			position absolute
			display block
			background url(../images/logo-star.png) repeat-x
			background-position 0px 0px
			width 45px
			height 9px
			left 0
			right 0
			bottom -4px
			margin auto

	&__nav
		float right
		padding-top 12px
		
	&__nav a
		font 17px $base-font
		color #fff
		font-weight 300
		padding 0 15px
		border-right 1px solid #303030
		&:last-child
			border-right none
		&:hover
			color $blue
	
	&__select
		float right
		padding-top 12px
		padding-left 35px
			
.footer
	background #fff
	padding-top 20px
	font 12px $base-font
	color #aeadad
	
	&__social a
		background-color #d1d1d1
		border-radius 50%
		display inline-block
		vertical-align middle
		&:hover
			background-color $blue
		
	&__nav a
		font 12px $base-font
		color #aeadad
		margin 0 5px
		&:hover
			color $blue
		
// header end

// homepage start

.slider-basic
	.owl-controls
		width 100%
		position absolute
		top 50%
	.owl-nav
		clearfix()
		.owl-prev,
		.owl-next
			margin 0 20px
				
		.owl-prev
			float left
			&:hover > .prev-arrow
				opacity 0.8
			
			.prev-arrow
				transform(rotate(180deg))
		.owl-next
			float right
			&:hover > .next-arrow
				opacity 0.8
			
	.owl-nav div i
		vertical-align middle
		
	.item
		position relative
		.slider-text
			position absolute
			top 47%
			width 100%
			overflow hidden
		.text-line
			padding 10px 15px
			display inline-block
			color #fff
			text-transform uppercase
		.black-title
			background $black
			font 28px $title-font-b
			position: relative;
			z-index: 2;
			&:after
				content ''
				position: absolute;
				display: block;
				width: 40px;
				height: 60px;
				background-color $black
				right: -18px;
				transform: rotate(30deg);
				bottom: 6px;
				z-index: -1;
		.blue-title
			background $light-blue
			font 20px $title-font-l
			position relative
			z-index 1
			&:after
				content ''
				position: absolute;
				display: block;
				width: 40px;
				height: 50px;
				background-color $light-blue
				right: -15px;
				transform: rotate(30deg);
				bottom: 6px;
				z-index: -1;

.form
	border-radius 6px
	width 100%
	background #fff
	border 2px solid rgba(0,0,0,0.2)
	
	&__discr
		width 215px			
		background #f3f3f3
		padding 10px
		display inline-block
		vertical-align middle
		border-right 1px solid #e0e0e0
	&__block
		display inline-block
		vertical-align middle
		padding 10px
		
		fieldset
			display inline-block
			vertical-align middle
			margin-right 8px
			.select2-container
				width 100%
				min-width 160px	
		fieldset.small .select2-container
			min-width 100%
		fieldset label
			display block
			line-height 24px
		.date-block
			display inline-block
			input
				border 1px solid #aaa
				border-radius 4px
				height 28px
				text-align left
				padding 0 10px
				background url(../images/spritesheet-backs.png) no-repeat 95% 0px 
				
.thumbs
	display -webkit-flex
	display flex
	
	&__item
		max-width 300px
		margin 20px
		
		img
			width 100%
		
	&__title
		font-size 20px
		padding 5px 0
		
// homepage end
@media only screen and (max-width: 1100px)
	.wrap
		padding 0 75px
		
	.form__discr
		display block
		width 100%
		border-right none
		border-bottom 1px solid #e0e0e0
@media only screen and (max-width: 980px)
	.expand-menu
		display block
	.header
		&__nav
			float none
			display none

		&__nav a
			display block
			padding 8px 0
			border-right none
			border-bottom 1px solid #fff
			transition(all 0.5s)
			&:hover
				border-bottom 1px solid $blue
				
		&__select
			padding-left 0
	.slider-basic .item .black-title
		font-size 20px
	.slider-basic .item .blue-title
		font-size 14px
	.slider-basic .owl-controls
		top 46%
		
@media only screen and (max-width: 768px)
	.flex-justify-center
		min-height 200px
		-webkit-flex-direction column-reverse
		flex-direction column-reverse
		-webkit-justify-content space-between
		justify-content space-between
	.footer
		min-height 200px
		&__nav
			width 100%
		&__nav a
			display block
			width 100%
			padding 5px 0
			border-bottom 1px solid #aeadad
			text-align center
	.thumbs
		-webkit-flex-wrap wrap
		flex-wrap wrap
		-webkit-justify-content center
		justify-content center
		margin-bottom 100px
@media only screen and (max-width: 600px)
	.wrap
		padding 0 30px
	.wrap.form-position
		position inherit
		margin-top 40px
	.slider-basic .item .slider-text
		display none
	.slider-basic .owl-controls
		top 37%
@media only screen and (max-width: 480px)
	.header
		&__logo
			font-size 22px
	.form__block
		fieldset,
		.date-block,
		.date-block input
			width 100%
			
			
@media only screen and (max-width: 320px)
	.wrap
		min-width 320px