.active__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.active__list-item {
  background: $base-darkviolet;
  padding: 10px;
  margin: 5px;
  position: relative;
}
.active__list-item:hover .active__discr {
  visibility: visible;
  opacity: 0.98;
}
.active__info {
  float: right;
  padding: 15px 0;
  font-size: 13px;
}
.active__info-item {
  padding: 3px 0;
}
.active__discr {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $base-green;
  background: $base-darkviolet;
  opacity: 0;
  color: $base-grey;
  padding: 20px;
  transition: visibility 0s, opacity 0.2s linear;
}
.progress {
  float: left;
  padding-right: 10px;
}
.progress .circle {
  display: table;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid $base-grey;
}
.progress .percentage {
  display: table-cell;
  vertical-align: middle;
  color: $base-green;
  font-size: 30px;
  font-weight: 300;
}
