@font-face {
  font-family: 'customfont';
  src: url("fonts/customfont.eot?dqttk");
  src: url("fonts/customfont.eot?dqttk#iefix") format('embedded-opentype'), url("fonts/customfont.ttf?dqttk") format('truetype'), url("fonts/customfont.woff?dqttk") format('woff'), url("fonts/customfont.svg?dqttk#customfont") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'customfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chart:before {
  content: "\e900";
}
.icon-statistic:before {
  content: "\e901";
}
.icon-upload-cloud:before {
  content: "\e902";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
i {
  display: inline-block;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
input,
button,
textarea {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
input[type=text]::-ms-clear {
  display: none;
}
input[type=password]::-ms-reveal {
  display: none;
}
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000 /* firefox 19+ */;
}
:-ms-input-placeholder {
  color: #000 /* ie */;
}
input:-moz-placeholder {
  color: #000;
}
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
html,
body {
  background: #292b2d;
  font-family: 'Muli', sans-serif;
  color: #788ba0;
}
.wrapper {
  display: flex;
  min-height: 100%;
}
.content {
  width: 100%;
  padding: 30px;
}
.icon-menu {
  float: right;
  font-size: 18px;
  padding-right: 18px;
  color: #e1e8ed;
}
.sidebar {
  background: #2f3439;
  min-width: 65px;
  max-width: 65px;
  min-height: 100%;
  padding: 80px 0 80px;
  position: relative;
  z-index: 100;
}
.sidebar__nav-item {
  *zoom: 1;
  position: relative;
  width: 155px;
  height: 60px;
  display: block;
  color: #788ba0;
  background: #2f3439;
  border-right: 3px solid #2f3439;
  border-radius: 0 3px 3px 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2px 0 2px -86px;
  padding-top: 20px;
  padding-left: 10px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.sidebar__nav-item:after {
  content: '';
  display: table;
  clear: both;
}
.sidebar__nav-item:first-child:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #292b2d;
}
.sidebar__nav-item:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #292b2d;
}
.sidebar__nav-item:hover {
  margin-left: 0;
  padding-left: 18px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.sidebar__nav-item.active {
  border-right-color: #bada55;
  background: #363e45;
}
.sidebar__nav-item.active .icon-menu {
  color: #bada55;
}
.active__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.active__list-item {
  *zoom: 1;
  background: #3a424b;
  border-radius: 6px;
  min-width: 250px;
  padding: 10px;
  margin: 10px;
  position: relative;
}
.active__list-item:after {
  content: '';
  display: table;
  clear: both;
}
.active__list-item:hover .active__discr {
  visibility: visible;
  opacity: 1;
}
.active__info {
  float: right;
  *zoom: 1;
  padding: 15px 0;
  font-size: 13px;
}
.active__info:after {
  content: '';
  display: table;
  clear: both;
}
.active__info-item {
  padding: 3px 0;
}
.active__info-item span {
  color: #becad8;
  padding-left: 5px;
}
.active__discr {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #3a424b;
  opacity: 0;
  color: #788ba0;
  padding: 20px;
  -webkit-transition: visibility 0s linear;
  -moz-transition: visibility 0s linear;
  -ms-transition: visibility 0s linear;
  -o-transition: visibility 0s linear;
  transition: visibility 0s linear;
  z-index: 9;
}
.progress-bar {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  position: relative;
}
.progress-bar:after {
  content: '';
  width: 96px;
  height: 96px;
  background: transparent;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  z-index: 8;
  border: 2px solid #292b2d;
}
.progress-bar .percentage {
  position: absolute;
  width: 100%;
  color: #bada55;
  text-align: center;
  z-index: 6;
  font-size: 20px;
  font-weight: 300;
  top: 40px;
}
.progress-bar .progress {
  width: 100px;
  height: 100px;
  background: #292b2d;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.progress-bar .progress:before {
  content: '';
  text-align: center;
  color: #bada55;
  width: 70px;
  height: 70px;
  background: #3a424b;
  position: absolute;
  border-radius: 50%;
  left: 13px;
  top: 13px;
  z-index: 5;
  border: 2px solid #292b2d;
}
.progress-bar .progress .hide {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background: #292b2d;
  z-index: 4;
  transform-origin: left center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.progress-bar .progress .active,
.progress-bar .progress .active2 {
  width: 50%;
  height: 100%;
  background: #bada55;
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 0;
}
.progress-bar .progress .active2 {
  transform-origin: left center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
