/*font-family: 'PT Sans', sans-serif;*/
@font-face
	font-family 'PT Sans'
	font-style normal
	font-weight 400
	src local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff')

@font-face
	font-family 'PT Sans'
	font-style normal
	font-weight 700
	src local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff')



/*font-family: 'PT Sans Narrow', sans-serif;*/
@font-face
	font-family 'PT Sans Narrow'
	font-style normal
	font-weight 400
	src local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff')

/*font-family: 'Open Sans', sans-serif;*/
@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')

/*font-family: 'Roboto Condensed', sans-serif;*/
@font-face
	font-family 'Roboto Condensed'
	font-style normal
	font-weight 400
	src local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff')

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,u,inner,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	border 0
	font-size 100%
	font inherit
	vertical-align baseline
	margin 0
	padding 0

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	display block

body
	line-height 1

ol,ul
	list-style none

blockquote,q
	quotes none

blockquote:before,blockquote:after,q:before,q:after
	content none

table
	border-collapse collapse
	border-spacing 0

clearfix()
	*zoom 1

	&:after
		content ''
		display table
		clear both

gradient()
	background-image -webkit-linear-gradient(arguments)
	background-image -moz-linear-gradient(arguments)
	background-image -o-linear-gradient(arguments)
	background-image linear-gradient(arguments)

transform()
	-webkit-transform (arguments)
	-moz-transform (arguments)
	-ms-transform (arguments)
	-o-transform (arguments)
	transform (arguments)
	
@font-face 
	font-family "FontAwesome"
	src url('../fonts/FontAwesome.otf') format('opentype')

@font-face 
	font-family "Myriad Pro Light Regular"
	src url('../fonts/Myriad Pro Light Regular.otf') format('opentype')

@font-face 
	font-family "Myriad Pro Light Bold"
	src url('../fonts/Myriad Pro Light Bold.otf') format('opentype')

@font-face 
	font-family "Myriad Pro"
	src url('../fonts/font2/Myriad Pro.otf') format('opentype')

$font = 'Myriad Pro'

* 
	box-sizing border-box
	-moz-box-sizing border-box


html, body 
	height 100%
	/*max-width 1920px*/
	min-width 1161px
	margin 0 auto
	background #fff


a 
	cursor pointer
	text-decoration none

input, textarea, select 
	outline none
	border none


/*+++++++++++++++++++++++++++++++++++++++*/
.wrapper 
	clearfix()
	width 1161px
	margin 0 auto
	padding 0 10px

.header-up 
	height 34px
	background #f0f0f0

	&__top-menu 
		clearfix()
		float right
		padding-top 9px
	
	&__item
		clearfix()
		float left
		padding 0 20px
		border-right 1px solid #bbbbbb
		
	&__item:last-child 
		border-right none
		padding-left 18px
		padding-right 0
		
	&__link
		text-decoration underline
		font 14px 'Roboto Condensed', sans-serif
		color #5b5b5b
			
	&__more 
		float right
		width 16px
		height 16px
		border-radius 50%
		background #e41c22
		color #fff
		text-align center
		line-height 14px
		margin 3px -1px 0 7px
				
	&__flag 
		float right
		width 22px
		height 16px
		background url(../images/sprite2.png) 0px 0px
		margin-left 10px
		margin-top 2px
				

.header-low 
	height 122px
	background #fff
	border-bottom 1px solid #e8e8e8
	padding-top 32px

	&__logo 
		float left
		width 160px
		height 60px
		background url(../images/logo.jpg) no-repeat
		margin-right 68px
	
		&-title 
			text-indent -9999px	
		

	&__nav 
		clearfix()
		float left
	
		&-block 
			float left
			margin 18px 68px 0 0
			height 69px
			cursor pointer
		
		&-block:hover > .header-low__nav-item 
			color #e41c22
			
		&-block:last-child 
			margin-right 0
			
		&-item 
			font 16px 'Roboto Condensed', sans-serif
			color #767575
			text-transform uppercase
			text-decoration none
		
		&-block:hover > &-container,
		&-container:hover 
			/*display block*/
			max-height 40px
			padding-top 8px
			overflow visible
			-webkit-transition max-height 0.4s linear, padding 0.4s linear
			-moz-transition max-height 0.4s linear, padding 0.4s linear
			transition max-height 0.4s linear, padding 0.4s linear
					
	
		&-container 
			/*display none*/
			position absolute
			top 153px
			/*height 40px*/
			max-height 0
			background #262626
			width 100%
			text-align center
			left 0
			/*padding-top 8px*/
			overflow hidden
			padding-top 0
			-webkit-transition max-height 0.4s linear, padding 0.4s linear
			-moz-transition max-height 0.4s linear, padding 0.4s linear
			transition max-height 0.4s linear, padding 0.4s linear
		
		
		&-menu
			clearfix()
			width 1141px
			margin auto
			// position relative
		
			&:before 
				content''
				display block
				position absolute
				width 0
				height 0
				border 10px solid
				border-bottom-color #262626
				top -20px
				// top -28px
				left 250px
				border-top-color #fff
				border-left-color #fff
				border-right-color #fff
		
			&.arrow-company:before 
				left 636px
				// left 245px
			
			&.arrow-products:before 
				left 776px
			
			&.arrow-solutions:before 
				left 914px
			
			&.arrow-support:before 
				left 1053px
			
			&.arrow-contacts:before 
				left 1194px
			

		&-company,
		&-products,
		&-solutions,
		&-support,
		&-contacts 
			float left
			margin-right 20px
			line-height 27px
		
		&-company:first-child 
			margin-left 47px
		
		&-products:first-child 
			margin-left 194px
		
		&-solutions:first-child 
			margin-left 341px
		
		&-support:first-child 
			margin-left 488px
		
		&-contacts:first-child 
			margin-left 635px
		
		&-sublink 
			font 17px 'PT Sans', sans-serif
			color #fff
			
		&-sublink:hover 
			color #e41c22
					
	&__search 
		float right
		width 225px
		height 29px
		border 1px solid #e1e1e1
		border-radius 14px
		margin-top 16px
		padding 7px 29px 7px 11px
		background url(../images/sprite2.png) 197px -33px no-repeat
		font 13px 'PT Sans', sans-serif
		color #393939

.footer-left__title,
.footer-right__title,
.footer-right__service-title 
	font bold 17px 'PT Sans', sans-serif
	color #1d1d1d
	padding-bottom 29px
		
footer 
	// height 435px
	background #f7f7f7
	border-top 1px solid #e8e8e8
	padding-top 62px
	padding-bottom 60px

.footer-left
	width 545px
	float left

	&__about 
		/*float left*/
		padding-right 55px
	

	&__rights 
		clearfix()
		margin-top 29px
		padding-left 84px
		height 62px
		background url(../images/logo-small.jpg) no-repeat
	
	&__about-info 
		font 15px 'PT Sans', sans-serif
		padding-bottom 25px
		line-height 23px
		margin-top -9px
	
	&__rights__info 
		font 15px 'PT Sans', sans-serif
		color #181818
		padding-top 10px
	
	&__rights

		&__item 
			float left
			font 13px 'PT Sans', sans-serif
			border-right 1px solid #adadad
			padding 0 11px 0 0
		
		&__item:last-child 
			border-right none
			padding-left 11px
		
		&__link 
			color #da1d23
			text-decoration underline
			
.footer-right
	clearfix()
	padding-left 40px
	width 596px
	float left

	&__title 
		padding-bottom 20px
	
	&__list 
		float left
		width 258px
		padding-bottom 59px
	
	&__list.footer-prod 
		padding-bottom 20px
	
	&__list.footer-solution,
	&__list.footer-service 
		padding-bottom 0
	
	&__item 
		font 13px 'PT Sans', sans-serif
		line-height 23px

	&__link 
		color #5b5b5b
			

	&__service 
		float left
		padding-left 10px
	
		&-title 
			padding-bottom 20px
		
		&-info 
			font 15px 'PT Sans', sans-serif
			padding-bottom 8px
		
		&-address,
		&-address-mail 
			font 13px 'PT Sans', sans-serif
		
		&-address-mail 
			padding-top 4px
		
		&-tel 
			font 15px 'PT Sans', sans-serif
			color #da1d23
		
		&-mail 
			text-decoration none
			color #5b5b5b
		