@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url("http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff") format('woff');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
u,
inner,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro Light Regular";
  src: url("../fonts/Myriad Pro Light Regular.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro Light Bold";
  src: url("../fonts/Myriad Pro Light Bold.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro.otf") format('opentype');
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
/*max-width 1920px*/
  min-width: 1161px;
  margin: 0 auto;
  background: #fff;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input,
textarea,
select {
  outline: none;
  border: none;
}
.wrapper {
  *zoom: 1;
  width: 1161px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.header-up {
  height: 34px;
  background: #f0f0f0;
}
.header-up__top-menu {
  *zoom: 1;
  float: right;
  padding-top: 9px;
}
.header-up__top-menu:after {
  content: '';
  display: table;
  clear: both;
}
.header-up__item {
  *zoom: 1;
  float: left;
  padding: 0 20px;
  border-right: 1px solid #bbb;
}
.header-up__item:after {
  content: '';
  display: table;
  clear: both;
}
.header-up__item:last-child {
  border-right: none;
  padding-left: 18px;
  padding-right: 0;
}
.header-up__link {
  text-decoration: underline;
  font: 14px 'Roboto Condensed', sans-serif;
  color: #5b5b5b;
}
.header-up__more {
  float: right;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e41c22;
  color: #fff;
  text-align: center;
  line-height: 14px;
  margin: 3px -1px 0 7px;
}
.header-up__flag {
  float: right;
  width: 22px;
  height: 16px;
  background: url("../images/sprite2.png") 0px 0px;
  margin-left: 10px;
  margin-top: 2px;
}
.header-low {
  height: 122px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 32px;
}
.header-low__logo {
  float: left;
  width: 160px;
  height: 60px;
  background: url("../images/logo.jpg") no-repeat;
  margin-right: 68px;
}
.header-low__logo-title {
  text-indent: -9999px;
}
.header-low__nav {
  *zoom: 1;
  float: left;
}
.header-low__nav:after {
  content: '';
  display: table;
  clear: both;
}
.header-low__nav-block {
  float: left;
  margin: 18px 68px 0 0;
  height: 69px;
  cursor: pointer;
}
.header-low__nav-block:hover > .header-low__nav-item {
  color: #e41c22;
}
.header-low__nav-block:last-child {
  margin-right: 0;
}
.header-low__nav-item {
  font: 16px 'Roboto Condensed', sans-serif;
  color: #767575;
  text-transform: uppercase;
  text-decoration: none;
}
.header-low__nav-block:hover > .header-low__nav-container,
.header-low__nav-container:hover {
/*display block*/
  max-height: 40px;
  padding-top: 8px;
  overflow: visible;
  -webkit-transition: max-height 0.4s linear, padding 0.4s linear;
  -moz-transition: max-height 0.4s linear, padding 0.4s linear;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.header-low__nav-container {
/*display none*/
  position: absolute;
  top: 153px;
/*height 40px*/
  max-height: 0;
  background: #262626;
  width: 100%;
  text-align: center;
  left: 0;
/*padding-top 8px*/
  overflow: hidden;
  padding-top: 0;
  -webkit-transition: max-height 0.4s linear, padding 0.4s linear;
  -moz-transition: max-height 0.4s linear, padding 0.4s linear;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.header-low__nav-menu {
  *zoom: 1;
  width: 1141px;
  margin: auto;
}
.header-low__nav-menu:after {
  content: '';
  display: table;
  clear: both;
}
.header-low__nav-menu:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-bottom-color: #262626;
  top: -20px;
  left: 250px;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}
.header-low__nav-menu.arrow-company:before {
  left: 636px;
}
.header-low__nav-menu.arrow-products:before {
  left: 776px;
}
.header-low__nav-menu.arrow-solutions:before {
  left: 914px;
}
.header-low__nav-menu.arrow-support:before {
  left: 1053px;
}
.header-low__nav-menu.arrow-contacts:before {
  left: 1194px;
}
.header-low__nav-company,
.header-low__nav-products,
.header-low__nav-solutions,
.header-low__nav-support,
.header-low__nav-contacts {
  float: left;
  margin-right: 20px;
  line-height: 27px;
}
.header-low__nav-company:first-child {
  margin-left: 47px;
}
.header-low__nav-products:first-child {
  margin-left: 194px;
}
.header-low__nav-solutions:first-child {
  margin-left: 341px;
}
.header-low__nav-support:first-child {
  margin-left: 488px;
}
.header-low__nav-contacts:first-child {
  margin-left: 635px;
}
.header-low__nav-sublink {
  font: 17px 'PT Sans', sans-serif;
  color: #fff;
}
.header-low__nav-sublink:hover {
  color: #e41c22;
}
.header-low__search {
  float: right;
  width: 225px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 14px;
  margin-top: 16px;
  padding: 7px 29px 7px 11px;
  background: url("../images/sprite2.png") 197px -33px no-repeat;
  font: 13px 'PT Sans', sans-serif;
  color: #393939;
}
.footer-left__title,
.footer-right__title,
.footer-right__service-title {
  font: bold 17px 'PT Sans', sans-serif;
  color: #1d1d1d;
  padding-bottom: 29px;
}
footer {
  background: #f7f7f7;
  border-top: 1px solid #e8e8e8;
  padding-top: 62px;
  padding-bottom: 60px;
}
.footer-left {
  width: 545px;
  float: left;
}
.footer-left__about {
/*float left*/
  padding-right: 55px;
}
.footer-left__rights {
  *zoom: 1;
  margin-top: 29px;
  padding-left: 84px;
  height: 62px;
  background: url("../images/logo-small.jpg") no-repeat;
}
.footer-left__rights:after {
  content: '';
  display: table;
  clear: both;
}
.footer-left__about-info {
  font: 15px 'PT Sans', sans-serif;
  padding-bottom: 25px;
  line-height: 23px;
  margin-top: -9px;
}
.footer-left__rights__info {
  font: 15px 'PT Sans', sans-serif;
  color: #181818;
  padding-top: 10px;
}
.footer-left__rights__item {
  float: left;
  font: 13px 'PT Sans', sans-serif;
  border-right: 1px solid #adadad;
  padding: 0 11px 0 0;
}
.footer-left__rights__item:last-child {
  border-right: none;
  padding-left: 11px;
}
.footer-left__rights__link {
  color: #da1d23;
  text-decoration: underline;
}
.footer-right {
  *zoom: 1;
  padding-left: 40px;
  width: 596px;
  float: left;
}
.footer-right:after {
  content: '';
  display: table;
  clear: both;
}
.footer-right__title {
  padding-bottom: 20px;
}
.footer-right__list {
  float: left;
  width: 258px;
  padding-bottom: 59px;
}
.footer-right__list.footer-prod {
  padding-bottom: 20px;
}
.footer-right__list.footer-solution,
.footer-right__list.footer-service {
  padding-bottom: 0;
}
.footer-right__item {
  font: 13px 'PT Sans', sans-serif;
  line-height: 23px;
}
.footer-right__link {
  color: #5b5b5b;
}
.footer-right__service {
  float: left;
  padding-left: 10px;
}
.footer-right__service-title {
  padding-bottom: 20px;
}
.footer-right__service-info {
  font: 15px 'PT Sans', sans-serif;
  padding-bottom: 8px;
}
.footer-right__service-address,
.footer-right__service-address-mail {
  font: 13px 'PT Sans', sans-serif;
}
.footer-right__service-address-mail {
  padding-top: 4px;
}
.footer-right__service-tel {
  font: 15px 'PT Sans', sans-serif;
  color: #da1d23;
}
.footer-right__service-mail {
  text-decoration: none;
  color: #5b5b5b;
}
/*================================BUTTONS-HOVERS====================================================*/
.btn-red {
  background: #e31b21;
  border-radius: 26px;
  font: 23px 'PT Sans Narrow';
  color: #fff;
}
.btn-red:hover {
  background: #717171;
}
.btn-red:hover.btn-red:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 13px -241px;
}
/*
.btn-black
// .btn-red:active
	background #262626
	border-radius 26px
	font 23px 'PT Sans Narrow'
	color #fff
.btn-black:after
	// .btn-red:active:after
	background #e41c22 url(../images/sprite2.png) no-repeat 13px -241px
*/
/*============================================================================================*/
/*================================SLIDERS-HOVERS====================================================*/
.slide-left {
  background: url("../images/sprite2.png") no-repeat 0px -92px;
}
.slide-left:hover {
  background: url("../images/sprite2.png") no-repeat -23px -92px;
}
.slide-left:active {
  background: url("../images/sprite2.png") no-repeat -10px -92px;
}
.slide-right {
  background: url("../images/sprite2.png") no-repeat -2px -110px;
}
.slide-right:hover {
  background: url("../images/sprite2.png") no-repeat -20px -110px;
}
.slide-right:active {
  background: url("../images/sprite2.png") no-repeat -11px -110px;
}
/*============================================================================================*/
.buy-now {
  background: url("../images/bg-company.jpg") no-repeat;
  height: 495px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.buy-now__left {
  float: left;
  padding-top: 129px;
}
.buy-now__title {
  font: 50px/50px 'PT Sans';
  color: #262626;
}
.buy-now__title-red {
  color: #e41c22;
}
.buy-now__button {
  display: block;
  width: 178px;
  padding: 12px 0 0 32px;
  position: relative;
  height: 54px;
  margin-top: 52px;
}
.buy-now__button:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: absolute;
  color: #fff;
  right: 16px;
  top: 14px;
  text-align: center;
  line-height: 26px;
}
.buy-now__button.btn-red:after {
  background: #ac0b10 url("../images/sprite2.png") no-repeat 13px -241px;
}
.buy-now__button:active {
  background: #262626;
  border-radius: 26px;
  font: 23px 'PT Sans Narrow';
  color: #fff;
}
.buy-now__button:active:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 13px -241px;
}
.buy-now__right {
  float: left;
  width: 499px;
  height: 347px;
  background: url("../images/tv-a.png") no-repeat;
  margin: 106px 0 0 45px;
  padding: 6px 0 0 16px;
  position: relative;
}
.buy-now__right:after {
  content: '';
  display: block;
  position: absolute;
  width: 465px;
  height: 313px;
  background: url("../images/controller.png") no-repeat;
  top: 60px;
  right: -211px;
}
.buy-now__r-box {
  width: 470px;
  height: 262px;
  overflow: hidden;
}
.set-top {
  padding-top: 82px;
}
.set-top__title {
  font: 50px/50px 'PT Sans';
  color: #1a1a1a;
  text-align: center;
  padding-bottom: 37px;
  padding-left: 15px;
}
.set-top__discr {
  font: 17px 'PT Sans';
  color: #414141;
  text-align: center;
  padding: 0 246px;
}
.set-top__tv {
  height: 465px;
  background: url("../images/tv2.png") no-repeat 240px 51px;
  padding: 67px 0 0 261px;
  margin-bottom: 67px;
  position: relative;
}
.set-top__tv-box {
  width: 584px;
  height: 327px;
  overflow: hidden;
}
.set-top__tv:after {
  content: '';
  display: block;
  width: 1141px;
  height: 87px;
  background: url("../images/shadow.jpg") no-repeat -25px;
  position: absolute;
  bottom: -75px;
  left: 3px;
}
.set-top__tv-mag {
  position: relative;
  width: 359px;
  height: 145px;
}
.set-top__tv-mag-pic {
  position: absolute;
  bottom: 43px;
  left: 380px;
}
.set-top__tv-listblock {
  position: relative;
}
.set-top__tv-list {
  *zoom: 1;
  height: 200px;
  margin-bottom: 40px;
}
.set-top__tv-list:after {
  content: '';
  display: table;
  clear: both;
}
.set-top__tv-listblock.slide-left,
.set-top__tv-listblock.slide-right {
  display: block;
  width: 9px;
  height: 19px;
  position: absolute;
}
.set-top__tv-listblock.slide-left {
  left: -57px;
  top: 92px;
}
.set-top__tv-listblock.slide-right {
  right: -60px;
  top: 90px;
}
.set-top__tv-list-item {
  float: left;
  width: 380px;
  height: 197px;
  border: 1px solid #e4e4e4;
  border-radius: 9px;
  border-right: none;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
  position: relative;
}
.set-top__curr-product {
  display: block;
  width: 69px;
  height: 69px;
  background: #e41c22;
  border-radius: 50%;
  border: 16px solid #fff;
  position: absolute;
  top: -48px;
  left: 158px;
  box-shadow: 0px 3px 0px -1px #e4e4e4;
}
.set-top__curr-product:after {
  content: '';
  display: block;
  width: 9px;
  height: 4px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  position: absolute;
  left: 12px;
  top: 14px;
  -webkit-transform: rotate(-52deg);
  -moz-transform: rotate(-52deg);
  -ms-transform: rotate(-52deg);
  -o-transform: rotate(-52deg);
  transform: rotate(-52deg);
}
.best-seller {
  position: absolute;
  top: 2px;
  right: -34px;
  display: block;
  border-bottom: 37px solid #f11a20;
  border-left: 36px solid transparent;
  border-right: 33px solid transparent;
  height: 0;
  -webkit-transform: rotate(46deg);
  -moz-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  -o-transform: rotate(46deg);
  transform: rotate(46deg);
  color: #fff;
  font: 17px/17px 'PT Sans Narrow';
  z-index: 1;
  text-align: center;
}
.best-seller:before {
  content: '';
  display: block;
  position: absolute;
  top: 37px;
  right: 64px;
  border-bottom: 4px solid #a90f14;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.best-seller:after {
  content: '';
  display: block;
  position: absolute;
  top: 37px;
  right: -32px;
  border-bottom: 4px solid #a90f14;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.set-top__tv-list-item:last-child {
  border-right: 1px solid #e4e4e4;
}
.set-top__tv-list-link {
  display: block;
  width: 380px;
  height: 197px;
  text-align: center;
  padding: 45px 36px 0;
}
.set-top__tv-list-title {
  font: 25px 'PT Sans Narrow';
  color: #262626;
  display: inline-block;
  margin-bottom: 17px;
}
.set-top__tv-list-discr {
  font: 15px 'PT Sans';
  color: #5b5b5b;
}
.set-top__button {
  display: block;
  width: 236px;
  height: 53px;
  position: relative;
  margin-bottom: 98px;
  margin-left: 458px;
  padding: 12px 0 0 27px;
}
.set-top__button:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  position: absolute;
  color: #fff;
  right: 16px;
  top: 14px;
  text-align: center;
  line-height: 26px;
}
.set-top__button.btn-red:after {
  background: #ac0b10 url("../images/sprite2.png") no-repeat 13px -241px;
}
.set-top__button:active {
  background: #262626;
  border-radius: 26px;
  font: 23px 'PT Sans Narrow';
  color: #fff;
}
.set-top__button:active:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 13px -241px;
}
.free-middle {
  *zoom: 1;
  height: 533px;
  width: 100%;
  background: #f0f0f0;
  padding-top: 85px;
}
.free-middle:after {
  content: '';
  display: table;
  clear: both;
}
.free-middle__left {
  float: left;
  width: 658px;
  padding-right: 69px;
}
.free-middle__title {
  display: inline-block;
  font: 50px 'PT Sans';
  color: #1a1a1a;
  margin-bottom: 36px;
}
.free-middle__text {
  font: 17px 'PT Sans';
  color: #414141;
  padding-bottom: 34px;
  padding-left: 3px;
}
.free-middle__learn-btn {
  display: block;
  width: 133px;
  height: 33px;
  position: relative;
  padding: 5px 0 0 20px;
  font-size: 18px;
  margin: 18px 0 0 6px;
}
.free-middle__learn-btn:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  color: #fff;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 16px;
}
.free-middle__learn-btn.btn-red:after {
  background: #ac0b10 url("../images/sprite2.png") no-repeat 6px -247px;
}
.free-middle__learn-btn.btn-red:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 6px -247px;
}
.free-middle__learn-btn:active {
  background: #262626;
  border-radius: 26px;
  font: 18px 'PT Sans Narrow';
  color: #fff;
}
.free-middle__learn-btn:active:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 6px -247px;
}
.free-middle__right {
  float: left;
  width: 481px;
  height: 335px;
  background: url("../images/tv-a.png") no-repeat -8px 14px;
  padding: 20px 0 0 11px;
}
.free-middle__r-box {
  width: 460px;
  height: 263px;
  overflow: hidden;
}
.solution {
  height: 437px;
  padding: 98px 0 0 488px;
  background: url("../images/mag2.png") no-repeat 4px 154px;
}
.global {
  height: 870px;
  width: 100%;
  background-image: -webkit-linear-gradient(top , #0c235a 0% , #1f4991 100%);
  background-image: -moz-linear-gradient(top , #0c235a 0% , #1f4991 100%);
  background-image: -o-linear-gradient(top , #0c235a 0% , #1f4991 100%);
  background-image: linear-gradient(top , #0c235a 0% , #1f4991 100%);
  box-shadow: inset 0px 9px 85px -12px #000;
}
.global-map {
  background: url("../images/world-map.png") no-repeat 76px 311px;
  height: 870px;
  text-align: center;
  padding-top: 81px;
  position: relative;
}
.global-map__title {
  font: 50px 'PT Sans';
  color: #fdfdfd;
  display: inline-block;
  padding-bottom: 13px;
}
.global-map__text {
  font: 17px 'PT Sans';
  color: #6ba6ff;
  padding: 0 195px;
}
.global-map__learn-more {
  font: 18px 'PT Sans Narrow';
  color: #fff;
  text-decoration: underline;
  position: absolute;
  bottom: 79px;
  left: 476px;
}
.global-map__learn-more:hover {
  color: #8fa4c8;
}
.global-map__learn-more:hover > .global-map__learn-more:after {
  background: url("../images/sprite2.png") no-repeat -9px -249px;
}
.global-map__learn-more:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../images/sprite2.png") no-repeat 6px -246px;
}
.global-map__learn-more:active {
  color: #e41f25;
}
.global-map__learn-more:active:after {
  background: url("../images/sprite2.png") no-repeat -19px -249px;
}
.global-map__marker {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  font: 15px/10px 'PT Sans';
  color: #bfe2ff;
  Z-index: 0;
  text-align: center;
}
.global-map__marker:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  border-radius: 50%;
  z-index: -1;
}
.global-map__big-number.point-usa {
  font: bold 50px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__small-number.point-usa {
  font: bold 25px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__big-number.point-europe {
  font: bold 60px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__small-number.point-europe {
  font: bold 25px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__big-number.point-russia {
  font: bold 40px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__small-number.point-russia {
  font: bold 20px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__big-number.point-africa {
  font: bold 30px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__small-number.point-africa {
  font: bold 20px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__big-number.point-russia2 {
  font: bold 50px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__small-number.point-russia2 {
  font: bold 25px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__big-number.point-australia {
  font: bold 40px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.global-map__small-number.point-australia {
  font: bold 20px 'PT Sans Narrow';
  color: #fdfdfd;
  background: none;
}
.point-usa {
  width: 134px;
  height: 134px;
  background: #1265e2;
  top: 279px;
  left: 151px;
  box-shadow: 0px 96px 13px -63px #000;
  padding: 6px 16px;
}
.point-usa:after {
  border-top: 67px solid #1265e2;
  border-right: 67px solid transparent;
  border-left: 67px solid transparent;
  top: 94px;
  left: 0px;
}
.point-europe {
  width: 174px;
  height: 174px;
  background: #f2272d;
  top: 257px;
  left: 473px;
  box-shadow: 0px 124px 12px -82px #000;
  color: #ff888b;
  padding: 6px 23px;
}
.point-europe:after {
  border-top: 88px solid #f2272d;
  border-right: 88px solid transparent;
  border-left: 88px solid transparent;
  top: 121px;
  left: -1px;
}
.point-russia {
  width: 116px;
  height: 116px;
  background: #307ef3;
  top: 312px;
  right: 375px;
  box-shadow: 0px 87px 18px -53px #000;
  color: #bfe2ff;
  padding: 2px 19px;
}
.point-russia:after {
  border-top: 58px solid #307ef3;
  border-right: 58px solid transparent;
  border-left: 58px solid transparent;
  top: 81px;
  left: 0px;
}
.point-africa {
  width: 106px;
  height: 106px;
  background: #2ab4ee;
  top: 510px;
  right: 514px;
  box-shadow: 0px 82px 18px -48px #000;
  color: #bfe2ff;
  padding: 2px 19px;
}
.point-africa:after {
  border-top: 53px solid #2ab4ee;
  border-right: 53px solid transparent;
  border-left: 53px solid transparent;
  top: 74px;
  left: 0px;
}
.point-russia2 {
  width: 124px;
  height: 124px;
  background: #379fff;
  top: 251px;
  right: 154px;
  box-shadow: 0px 87px 18px -53px #000;
  color: #bfe2ff;
  padding: 0px 19px;
  line-height: 8px;
}
.point-russia2:after {
  border-top: 62px solid #379fff;
  border-right: 62px solid transparent;
  border-left: 62px solid transparent;
  top: 87px;
  left: 0px;
}
.point-australia {
  width: 118px;
  height: 118px;
  background: #2e54f9;
  bottom: 212px;
  right: 217px;
  box-shadow: 0px 87px 18px -53px #000;
  color: #bfe2ff;
  padding: 2px 19px;
}
.point-australia:after {
  border-top: 59px solid #2e54f9;
  border-right: 59px solid transparent;
  border-left: 59px solid transparent;
  top: 81px;
  left: 0px;
}
.events {
  height: 502px;
  padding-top: 85px;
}
.events__title {
  *zoom: 1;
  font: 50px 'PT Sans';
  color: #262626;
  position: relative;
  margin-bottom: 28px;
}
.events__title:after {
  content: '';
  display: table;
  clear: both;
}
.events__more-btn {
  width: 132px;
  height: 33px;
  font: 18px 'PT Sans Narrow';
  padding: 5px 0 0 15px;
  float: right;
  margin-top: 14px;
}
.events__more-btn:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  color: #fff;
  right: 10px;
  top: 22px;
  text-align: center;
  line-height: 26px;
}
.events__more-btn.btn-red:after {
  background: #ac0b10 url("../images/sprite2.png") no-repeat 7px -246px;
}
.events__more-btn.btn-red:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 7px -246px;
}
.events__more-btn:active {
  background: #262626;
  border-radius: 26px;
  font: 18px 'PT Sans Narrow';
  color: #fff;
}
.events__more-btn:active:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 6px -247px;
}
.events__news {
  *zoom: 1;
  float: left;
  height: 230px;
  width: 555px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding-top: 50px;
  padding-right: 50px;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
  margin-right: 29px;
}
.events__news:after {
  content: '';
  display: table;
  clear: both;
}
.events__news:hover {
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
}
.events__news:last-child {
  margin-right: 0;
}
.events__pic {
  float: left;
  margin: 0 35px 48px 39px;
  width: 132px;
  height: 132px;
  overflow: hidden;
}
.events__date {
  font: 15px 'PT Sans';
  color: #e41c22;
  padding-bottom: 4px;
}
.events__name {
  font: bold 20px 'PT Sans';
  color: #181818;
  padding-bottom: 20px;
}
.events__text {
  font: 15px 'PT Sans';
  color: #5b5b5b;
}
