/*=========GENERAL=============*/
[id^=tab]:checked ~ [id^=tab-content] {
  display: block;
}
/*================================*/
.contacts {
  display: none;
  position: relative;
  width: 1161px;
  margin: 0 auto;
}
.contact-form {
  *zoom: 1;
  width: 755px;
  background: #fff;
  border: 2px solid #cdcccc;
  position: absolute;
  z-index: 2;
  left: 203px;
  top: 47px;
  box-shadow: 0 0 0 8px rgba(3,3,3,0.1);
  border-radius: 11px;
  padding: 14px 13px 25px 22px;
}
.contact-form:after {
  content: '';
  display: table;
  clear: both;
}
.contact-form__close {
  display: block;
  width: 17px;
  height: 17px;
  background: url("../images/sprite2.png") no-repeat 0 -640px;
  float: right;
  cursor: pointer;
}
.contact-form__name {
  color: #212121;
  font: 30px "PT Sans";
  padding-bottom: 20px;
}
.contact-form__title {
  font: bold 16px 'PT Sans';
  color: #1a1a1a;
  padding: 0 0 5px 3px;
}
.contact-form__country {
  width: 228px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 155px;
  font: 13px 'PT Sans', sans-serif;
  color: #9c9c9c;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: url("../images/sprite2.png") no-repeat 209px -660px;
  padding: 1px 9px;
  line-height: 19px;
  margin-bottom: 23px;
  margin-top: 10px;
}
.contact-form__info {
  float: left;
  padding-right: 58px;
}
.contact-form__info.distributor {
  padding-top: 27px;
  float: none;
  padding-bottom: 43px;
}
.contact-form__contacts {
  font: 15px 'PT Sans', sans-serif;
  color: #414141;
  line-height: 23px;
}
.contact-form__mail,
.contact-form__site {
  color: #e41c22;
  text-decoration: none;
}
.contact-form__mail:hover,
.contact-form__site:hover {
  text-decoration: underline;
}
.contact-form__skype {
  background: url("../images/sprite2.png") no-repeat 0px -153px;
  padding-left: 23px;
  color: #414141;
  font: 15px 'PT Sans';
}
.contact-form__tabs {
  position: relative;
  padding-top: 8px;
  width: 123px;
}
.contact-form__tab-no {
  float: right;
}
.contact-form__label {
  margin-right: 22px;
}
.contact-form__tab-yes__radio,
.contact-form__tab-no__radio {
  display: none;
}
.contact-form__tab-yes__radio + .contact-form__label:before,
.contact-form__tab-no__radio + .contact-form__label:before {
  margin-top: -1px;
  margin-left: -1px;
  content: "";
  opacity: 1;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #bebebe;
  margin-right: 5px;
}
.contact-form__tab-yes__radio:checked + .contact-form__label:before,
.contact-form__tab-no__radio:checked + .contact-form__label:before {
  margin-top: -1px;
  margin-left: -1px;
  content: '';
  opacity: 1;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e41c22;
  border: 3px solid #fff;
  box-shadow: 0px 0px 0px 1px #e41c22;
}
.contact-form__drop-down {
  *zoom: 1;
  width: 699px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 11px;
  display: none;
  padding: 24px 0 24px 24px;
  margin-top: 15px;
}
.contact-form__drop-down:after {
  content: '';
  display: table;
  clear: both;
}
.contact-form__drop-down:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 31px;
  left: 20px;
  border: 1px solid #e2e2e2;
  border-bottom-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.contact-form__field {
  float: left;
  margin-right: 31px;
  padding-bottom: 11px;
  position: relative;
}
.contact-form__field-label {
  padding-bottom: 11px;
}
.contact-form__field-label,
.contact-form__field-input {
  font: 16px 'PT Sans';
  color: #5b5b5b;
}
.contact-form__field-inputbox {
  position: relative;
}
.contact-form__field-inputbox.error-field > .contact-form__field-reset {
  display: inline-block;
}
.contact-form__field-input {
  width: 301px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  padding: 7px 10px;
}
.contact-form__field-input:focus {
  background: #f9f9f9;
  border-color: #b5b5b5;
}
.contact-form__field-reset {
  display: none;
  width: 12px;
  height: 12px;
  background: url("../images/sprite2.png") no-repeat -24px -693px;
  position: absolute;
  top: 7px;
  right: -18px;
}
.contact-form__field-inputbox.error-field > .contact-form__field-input {
  border-color: #c83838;
  box-shadow: 0 0 9px 3px rgba(248,45,45,0.3);
  position: relative;
}
.contact-form__field-inputbox.error-field:after {
  content: '*ошибка';
  position: absolute;
  display: block;
  width: 75px;
  height: 26px;
  border: 1px solid #fc989c;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(1,1,1,0.21);
  font: 14px 'PT Sans';
  color: #be1a1a;
  top: -50px;
  left: 61px;
  text-align: center;
  padding-top: 6px;
  background: #fff;
}
.contact-form__field-inputbox.error-field:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 23px;
  top: -24px;
  left: 86px;
  background: url("../images/sprite2.png") no-repeat 0 -689px;
  z-index: 2;
}
.contact-form__field-inputbox.correct-field > .contact-form__field-input {
  border-color: #3ea606;
  box-shadow: 0 0 9px 3px rgba(43,182,6,0.25);
  position: relative;
}
.contact-form__field-inputbox.correct-field:after {
  content: '';
  position: absolute;
  display: block;
  width: 13px;
  height: 11px;
  background: url("../images/sprite2.png") no-repeat -24px -709px;
  right: -19px;
  top: 9px;
}
.contact-form__field-select {
  width: 301px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  padding: 4px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: url("../images/sprite2.png") no-repeat 281px -660px;
  font: 13px 'PT Sans';
  color: #393939;
}
.contact-form__field-select:focus {
  background: #f9f9f9 url("../images/sprite2.png") no-repeat 281px -660px;
  border-color: #b5b5b5;
}
.contact-form__field-text {
  width: 650px;
  height: 104px;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  resize: none;
  padding: 7px;
  font: 16px 'PT Sans';
  color: #5b5b5b;
}
.contact-form__account {
  float: left;
}
.contact-form__account-info {
  color: #1a1a1a;
  font: 14px 'PT Sans';
}
.contact-form__account-sign {
  font: 14px 'PT Sans';
  color: #e41c22;
}
.contact-form__account-sign.register {
  margin-right: 20px;
}
.submit-button,
.cancel-button {
  float: right;
}
.cancel-button {
  border: 1px solid rgba(228,28,34,0.57);
  width: 94px;
  height: 33px;
  border-radius: 16px;
  font: 18px 'PT Sans Narrow';
  color: #737373;
  text-align: center;
  padding-top: 4px;
}
.cancel-button:hover {
  background: #f0f0f0;
}
.submit-button {
  width: 109px;
  height: 33px;
  font: 18px 'PT Sans Narrow';
  padding: 4px 0 0 22px;
  position: relative;
  margin-left: 18px;
  margin-right: 20px;
}
.submit-button:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  color: #fff;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 26px;
}
.submit-button.btn-red:after {
  background: #ac0b10 url("../images/sprite2.png") no-repeat 7px -247px;
}
.submit-button:active {
  background: #262626;
  border-radius: 26px;
  font: 18px 'PT Sans Narrow';
  color: #fff;
}
.submit-button:active:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 7px -247px;
}
.btn-red:hover {
  background: #d2181d;
}
.submit-button.btn-red:hover.submit-button.btn-red:after {
  background: #94090d url("../images/sprite2.png") no-repeat 7px -247px;
}
