@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url("http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff") format('woff');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
u,
inner,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro Light Regular";
  src: url("../fonts/Myriad Pro Light Regular.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro Light Bold";
  src: url("../fonts/Myriad Pro Light Bold.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro.otf") format('opentype');
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
/*max-width 1920px*/
  min-width: 1161px;
  margin: 0 auto;
  background: #fff;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input,
textarea,
select {
  outline: none;
  border: none;
}
.wrapper {
  *zoom: 1;
  width: 1161px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.header-up {
  height: 34px;
  background: #f0f0f0;
}
.header-up__top-menu {
  *zoom: 1;
  float: right;
  padding-top: 9px;
}
.header-up__top-menu:after {
  content: '';
  display: table;
  clear: both;
}
.header-up__item {
  *zoom: 1;
  float: left;
  padding: 0 20px;
  border-right: 1px solid #bbb;
}
.header-up__item:after {
  content: '';
  display: table;
  clear: both;
}
.header-up__item:last-child {
  border-right: none;
  padding-left: 18px;
  padding-right: 0;
}
.header-up__link {
  text-decoration: underline;
  font: 14px 'Roboto Condensed', sans-serif;
  color: #5b5b5b;
}
.header-up__more {
  float: right;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e41c22;
  color: #fff;
  text-align: center;
  line-height: 14px;
  margin: 3px -1px 0 7px;
}
.header-up__flag {
  float: right;
  width: 22px;
  height: 16px;
  background: url("../images/sprite2.png") 0px 0px;
  margin-left: 10px;
  margin-top: 2px;
}
.header-low {
  height: 122px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 32px;
}
.header-low__logo {
  float: left;
  width: 160px;
  height: 60px;
  background: url("../images/logo.jpg") no-repeat;
  margin-right: 68px;
}
.header-low__logo-title {
  text-indent: -9999px;
}
.header-low__nav {
  *zoom: 1;
  float: left;
}
.header-low__nav:after {
  content: '';
  display: table;
  clear: both;
}
.header-low__nav-block {
  float: left;
  margin: 18px 68px 0 0;
  height: 69px;
  cursor: pointer;
}
.header-low__nav-block:hover > .header-low__nav-item {
  color: #e41c22;
}
.header-low__nav-block:last-child {
  margin-right: 0;
}
.header-low__nav-item {
  font: 16px 'Roboto Condensed', sans-serif;
  color: #767575;
  text-transform: uppercase;
  text-decoration: none;
}
.header-low__nav-block:hover > .header-low__nav-container,
.header-low__nav-container:hover {
/*display block*/
  max-height: 40px;
  padding-top: 8px;
  overflow: visible;
  -webkit-transition: max-height 0.4s linear, padding 0.4s linear;
  -moz-transition: max-height 0.4s linear, padding 0.4s linear;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.header-low__nav-container {
/*display none*/
  position: absolute;
  top: 153px;
/*height 40px*/
  max-height: 0;
  background: #262626;
  width: 100%;
  text-align: center;
  left: 0;
/*padding-top 8px*/
  overflow: hidden;
  padding-top: 0;
  -webkit-transition: max-height 0.4s linear, padding 0.4s linear;
  -moz-transition: max-height 0.4s linear, padding 0.4s linear;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.header-low__nav-menu {
  *zoom: 1;
  width: 1141px;
  margin: auto;
}
.header-low__nav-menu:after {
  content: '';
  display: table;
  clear: both;
}
.header-low__nav-menu:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-bottom-color: #262626;
  top: -20px;
  left: 250px;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}
.header-low__nav-menu.arrow-company:before {
  left: 636px;
}
.header-low__nav-menu.arrow-products:before {
  left: 776px;
}
.header-low__nav-menu.arrow-solutions:before {
  left: 914px;
}
.header-low__nav-menu.arrow-support:before {
  left: 1053px;
}
.header-low__nav-menu.arrow-contacts:before {
  left: 1194px;
}
.header-low__nav-company,
.header-low__nav-products,
.header-low__nav-solutions,
.header-low__nav-support,
.header-low__nav-contacts {
  float: left;
  margin-right: 20px;
  line-height: 27px;
}
.header-low__nav-company:first-child {
  margin-left: 47px;
}
.header-low__nav-products:first-child {
  margin-left: 194px;
}
.header-low__nav-solutions:first-child {
  margin-left: 341px;
}
.header-low__nav-support:first-child {
  margin-left: 488px;
}
.header-low__nav-contacts:first-child {
  margin-left: 635px;
}
.header-low__nav-sublink {
  font: 17px 'PT Sans', sans-serif;
  color: #fff;
}
.header-low__nav-sublink:hover {
  color: #e41c22;
}
.header-low__search {
  float: right;
  width: 225px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 14px;
  margin-top: 16px;
  padding: 7px 29px 7px 11px;
  background: url("../images/sprite2.png") 197px -33px no-repeat;
  font: 13px 'PT Sans', sans-serif;
  color: #393939;
}
.footer-left__title,
.footer-right__title,
.footer-right__service-title {
  font: bold 17px 'PT Sans', sans-serif;
  color: #1d1d1d;
  padding-bottom: 29px;
}
footer {
  background: #f7f7f7;
  border-top: 1px solid #e8e8e8;
  padding-top: 62px;
  padding-bottom: 60px;
}
.footer-left {
  width: 545px;
  float: left;
}
.footer-left__about {
/*float left*/
  padding-right: 55px;
}
.footer-left__rights {
  *zoom: 1;
  margin-top: 29px;
  padding-left: 84px;
  height: 62px;
  background: url("../images/logo-small.jpg") no-repeat;
}
.footer-left__rights:after {
  content: '';
  display: table;
  clear: both;
}
.footer-left__about-info {
  font: 15px 'PT Sans', sans-serif;
  padding-bottom: 25px;
  line-height: 23px;
  margin-top: -9px;
}
.footer-left__rights__info {
  font: 15px 'PT Sans', sans-serif;
  color: #181818;
  padding-top: 10px;
}
.footer-left__rights__item {
  float: left;
  font: 13px 'PT Sans', sans-serif;
  border-right: 1px solid #adadad;
  padding: 0 11px 0 0;
}
.footer-left__rights__item:last-child {
  border-right: none;
  padding-left: 11px;
}
.footer-left__rights__link {
  color: #da1d23;
  text-decoration: underline;
}
.footer-right {
  *zoom: 1;
  padding-left: 40px;
  width: 596px;
  float: left;
}
.footer-right:after {
  content: '';
  display: table;
  clear: both;
}
.footer-right__title {
  padding-bottom: 20px;
}
.footer-right__list {
  float: left;
  width: 258px;
  padding-bottom: 59px;
}
.footer-right__list.footer-prod {
  padding-bottom: 20px;
}
.footer-right__list.footer-solution,
.footer-right__list.footer-service {
  padding-bottom: 0;
}
.footer-right__item {
  font: 13px 'PT Sans', sans-serif;
  line-height: 23px;
}
.footer-right__link {
  color: #5b5b5b;
}
.footer-right__service {
  float: left;
  padding-left: 10px;
}
.footer-right__service-title {
  padding-bottom: 20px;
}
.footer-right__service-info {
  font: 15px 'PT Sans', sans-serif;
  padding-bottom: 8px;
}
.footer-right__service-address,
.footer-right__service-address-mail {
  font: 13px 'PT Sans', sans-serif;
}
.footer-right__service-address-mail {
  padding-top: 4px;
}
.footer-right__service-tel {
  font: 15px 'PT Sans', sans-serif;
  color: #da1d23;
}
.footer-right__service-mail {
  text-decoration: none;
  color: #5b5b5b;
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/LKf8nhXsWg5ybwEGXk8UBQ.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url("http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff") format('woff');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
u,
inner,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro Light Regular";
  src: url("../fonts/Myriad Pro Light Regular.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro Light Bold";
  src: url("../fonts/Myriad Pro Light Bold.otf") format('opentype');
}
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro.otf") format('opentype');
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
/*max-width 1920px*/
  min-width: 1161px;
  margin: 0 auto;
  background: #fff;
}
a {
  cursor: pointer;
  text-decoration: none;
}
input,
textarea,
select {
  outline: none;
  border: none;
}
.wrapper {
  *zoom: 1;
  width: 1161px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.header-up {
  height: 34px;
  background: #f0f0f0;
}
.header-up__top-menu {
  *zoom: 1;
  float: right;
  padding-top: 9px;
}
.header-up__top-menu:after {
  content: '';
  display: table;
  clear: both;
}
.header-up__item {
  *zoom: 1;
  float: left;
  padding: 0 20px;
  border-right: 1px solid #bbb;
}
.header-up__item:after {
  content: '';
  display: table;
  clear: both;
}
.header-up__item:last-child {
  border-right: none;
  padding-left: 18px;
  padding-right: 0;
}
.header-up__link {
  text-decoration: underline;
  font: 14px 'Roboto Condensed', sans-serif;
  color: #5b5b5b;
}
.header-up__more {
  float: right;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e41c22;
  color: #fff;
  text-align: center;
  line-height: 14px;
  margin: 3px -1px 0 7px;
}
.header-up__flag {
  float: right;
  width: 22px;
  height: 16px;
  background: url("../images/sprite2.png") 0px 0px;
  margin-left: 10px;
  margin-top: 2px;
}
.header-low {
  height: 122px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 32px;
}
.header-low__logo {
  float: left;
  width: 160px;
  height: 60px;
  background: url("../images/logo.jpg") no-repeat;
  margin-right: 68px;
}
.header-low__logo-title {
  text-indent: -9999px;
}
.header-low__nav {
  *zoom: 1;
  float: left;
}
.header-low__nav:after {
  content: '';
  display: table;
  clear: both;
}
.header-low__nav-block {
  float: left;
  margin: 18px 68px 0 0;
  height: 69px;
  cursor: pointer;
}
.header-low__nav-block:hover > .header-low__nav-item {
  color: #e41c22;
}
.header-low__nav-block:last-child {
  margin-right: 0;
}
.header-low__nav-item {
  font: 16px 'Roboto Condensed', sans-serif;
  color: #767575;
  text-transform: uppercase;
  text-decoration: none;
}
.header-low__nav-block:hover > .header-low__nav-container,
.header-low__nav-container:hover {
/*display block*/
  max-height: 40px;
  padding-top: 8px;
  overflow: visible;
  -webkit-transition: max-height 0.4s linear, padding 0.4s linear;
  -moz-transition: max-height 0.4s linear, padding 0.4s linear;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.header-low__nav-container {
/*display none*/
  position: absolute;
  top: 153px;
/*height 40px*/
  max-height: 0;
  background: #262626;
  width: 100%;
  text-align: center;
  left: 0;
/*padding-top 8px*/
  overflow: hidden;
  padding-top: 0;
  -webkit-transition: max-height 0.4s linear, padding 0.4s linear;
  -moz-transition: max-height 0.4s linear, padding 0.4s linear;
  transition: max-height 0.4s linear, padding 0.4s linear;
}
.header-low__nav-menu {
  *zoom: 1;
  width: 1141px;
  margin: auto;
}
.header-low__nav-menu:after {
  content: '';
  display: table;
  clear: both;
}
.header-low__nav-menu:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid;
  border-bottom-color: #262626;
  top: -20px;
  left: 250px;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}
.header-low__nav-menu.arrow-company:before {
  left: 636px;
}
.header-low__nav-menu.arrow-products:before {
  left: 776px;
}
.header-low__nav-menu.arrow-solutions:before {
  left: 914px;
}
.header-low__nav-menu.arrow-support:before {
  left: 1053px;
}
.header-low__nav-menu.arrow-contacts:before {
  left: 1194px;
}
.header-low__nav-company,
.header-low__nav-products,
.header-low__nav-solutions,
.header-low__nav-support,
.header-low__nav-contacts {
  float: left;
  margin-right: 20px;
  line-height: 27px;
}
.header-low__nav-company:first-child {
  margin-left: 47px;
}
.header-low__nav-products:first-child {
  margin-left: 194px;
}
.header-low__nav-solutions:first-child {
  margin-left: 341px;
}
.header-low__nav-support:first-child {
  margin-left: 488px;
}
.header-low__nav-contacts:first-child {
  margin-left: 635px;
}
.header-low__nav-sublink {
  font: 17px 'PT Sans', sans-serif;
  color: #fff;
}
.header-low__nav-sublink:hover {
  color: #e41c22;
}
.header-low__search {
  float: right;
  width: 225px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 14px;
  margin-top: 16px;
  padding: 7px 29px 7px 11px;
  background: url("../images/sprite2.png") 197px -33px no-repeat;
  font: 13px 'PT Sans', sans-serif;
  color: #393939;
}
.footer-left__title,
.footer-right__title,
.footer-right__service-title {
  font: bold 17px 'PT Sans', sans-serif;
  color: #1d1d1d;
  padding-bottom: 29px;
}
footer {
  background: #f7f7f7;
  border-top: 1px solid #e8e8e8;
  padding-top: 62px;
  padding-bottom: 60px;
}
.footer-left {
  width: 545px;
  float: left;
}
.footer-left__about {
/*float left*/
  padding-right: 55px;
}
.footer-left__rights {
  *zoom: 1;
  margin-top: 29px;
  padding-left: 84px;
  height: 62px;
  background: url("../images/logo-small.jpg") no-repeat;
}
.footer-left__rights:after {
  content: '';
  display: table;
  clear: both;
}
.footer-left__about-info {
  font: 15px 'PT Sans', sans-serif;
  padding-bottom: 25px;
  line-height: 23px;
  margin-top: -9px;
}
.footer-left__rights__info {
  font: 15px 'PT Sans', sans-serif;
  color: #181818;
  padding-top: 10px;
}
.footer-left__rights__item {
  float: left;
  font: 13px 'PT Sans', sans-serif;
  border-right: 1px solid #adadad;
  padding: 0 11px 0 0;
}
.footer-left__rights__item:last-child {
  border-right: none;
  padding-left: 11px;
}
.footer-left__rights__link {
  color: #da1d23;
  text-decoration: underline;
}
.footer-right {
  *zoom: 1;
  padding-left: 40px;
  width: 596px;
  float: left;
}
.footer-right:after {
  content: '';
  display: table;
  clear: both;
}
.footer-right__title {
  padding-bottom: 20px;
}
.footer-right__list {
  float: left;
  width: 258px;
  padding-bottom: 59px;
}
.footer-right__list.footer-prod {
  padding-bottom: 20px;
}
.footer-right__list.footer-solution,
.footer-right__list.footer-service {
  padding-bottom: 0;
}
.footer-right__item {
  font: 13px 'PT Sans', sans-serif;
  line-height: 23px;
}
.footer-right__link {
  color: #5b5b5b;
}
.footer-right__service {
  float: left;
  padding-left: 10px;
}
.footer-right__service-title {
  padding-bottom: 20px;
}
.footer-right__service-info {
  font: 15px 'PT Sans', sans-serif;
  padding-bottom: 8px;
}
.footer-right__service-address,
.footer-right__service-address-mail {
  font: 13px 'PT Sans', sans-serif;
}
.footer-right__service-address-mail {
  padding-top: 4px;
}
.footer-right__service-tel {
  font: 15px 'PT Sans', sans-serif;
  color: #da1d23;
}
.footer-right__service-mail {
  text-decoration: none;
  color: #5b5b5b;
}
.slide-left {
  background: url("../images/sprite2.png") no-repeat 0px -426px;
}
.slide-right {
  background: url("../images/sprite2.png") no-repeat -26px -426px;
}
.feature {
  text-align: center;
  padding-top: 76px;
}
.feature__title {
  font: 50px 'PT Sans';
  color: #1a1a1a;
  padding-bottom: 30px;
}
.feature__tag-line {
  display: inline-block;
  font: 25px 'PT Sans Narrow';
  color: #262626;
  padding-bottom: 17px;
}
.feature__text {
  font: 17px 'PT Sans';
  color: #414141;
  padding-bottom: 80px;
}
.feature__slider {
  width: 831px;
  height: 548px;
  background: url("../images/tv-big.png") no-repeat;
  margin: 0 auto;
  padding-top: 3px;
  position: relative;
  margin-bottom: 43px;
}
.feature__slider-box {
  width: 827px;
  height: 464px;
  overflow: hidden;
  padding: 2px 1px 1px 5px;
}
.feature__l.slide-left,
.feature__r.slide-right {
  display: block;
  width: 14px;
  height: 24px;
  position: absolute;
}
.feature__l.slide-left {
  left: -93px;
  top: 226px;
}
.feature__r.slide-right {
  right: -93px;
  top: 226px;
}
.feature__list {
  *zoom: 1;
  margin-bottom: 95px;
  margin-top: 69px;
}
.feature__list:after {
  content: '';
  display: table;
  clear: both;
}
.feature__list-item {
  float: left;
  width: 359px;
  height: 238px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  padding: 43px 65px 40px 35px;
  text-align: left;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
  position: relative;
  margin-right: 30px;
}
.feature__list-item:last-child {
  margin-right: 0;
}
.feature__list-item:after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 13px solid #fff;
  box-shadow: 0px 3px 0px -1px #e4e4e4;
  top: -73px;
  right: 129px;
}
.feature__list-item.user-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 18px -313px;
}
.feature__list-item.user-icon:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 18px -313px;
}
.feature__list-item.settings-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 18px -462px;
}
.feature__list-item.settings-icon:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 18px -462px;
}
.feature__list-item.hand-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 18px -538px;
}
.feature__list-item.hand-icon:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 18px -538px;
}
.feature__item-title {
  font: 25px 'PT Sans Narrow';
  color: #262626;
}
.feature__item-text {
  font: 15px 'PT Sans';
  color: #5b5b5b;
  display: inline-block;
  padding-top: 23px;
}
.feature__item-link {
  font: 15px 'PT Sans';
  color: #e41c22;
  text-decoration: none;
  display: inline-block;
  padding-top: 25px;
}
.feature__item-link:hover {
  text-decoration: underline;
}
.feature__separator {
  border: 0;
  height: 1px;
  background: #e8e8e8;
  margin-bottom: 73px;
}
.feature__icons {
  padding-top: 8px;
  padding-bottom: 120px;
}
.feature__icon-item {
  *zoom: 1;
  display: inline-block;
  width: 62px;
  height: 62px;
  background: url("../images/sprite2.png") no-repeat -1px -745px;
  border-radius: 5px;
  margin-right: 40px;
  position: relative;
}
.feature__icon-item:after {
  content: '';
  display: table;
  clear: both;
}
.feature__icon-item.youtube {
  background: url("../images/sprite2.png") no-repeat -1px -745px;
}
.feature__icon-item.ex {
  background: url("../images/sprite2.png") no-repeat -2px -811px;
}
.feature__icon-item.megogo {
  background: url("../images/sprite2.png") no-repeat -1px -875px;
}
.feature__icon-item.oll {
  background: url("../images/sprite2.png") no-repeat -2px -943px;
}
.feature__icon-item.vidi {
  background: url("../images/sprite2.png") no-repeat -2px -1010px;
}
.feature__icon-item.picasa {
  background: url("../images/sprite2.png") no-repeat -3px -1075px;
}
.feature__icon-item.br {
  background: url("../images/sprite2.png") no-repeat -2px -1140px;
}
.feature__icon-item.radio {
  background: url("../images/sprite2.png") no-repeat -2px -1205px;
}
.feature__icon-item.karaoke {
  background: url("../images/sprite2.png") no-repeat -3px -1271px;
}
.feature__icon-item.games {
  background: url("../images/sprite2.png") no-repeat -3px -1337px;
}
.feature__icon-item.widgets {
  background: url("../images/sprite2.png") no-repeat -3px -1405px;
}
.feature__icon-item:last-child {
  margin-right: 0;
}
.feature__icon-item:hover {
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.3);
}
.feature__icons-title:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 18px;
  height: 7px;
  background: url("../images/sprite2.png") no-repeat 0px -728px;
  top: -20px;
  left: 23px;
}
.feature__icons-title {
  float: left;
  padding: 78px 0 0 1px;
  font: 17px 'PT Sans';
  color: #414141;
  width: 62px;
}
.active-i {
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.3);
}
.active-i:after {
  content: '';
  position: absolute;
  display: block;
  width: 18px;
  height: 7px;
  background: url("../images/sprite2.png") no-repeat 0px -728px;
  top: -20px;
  left: 23px;
}
