/*================================================================*/
#t-content3 {
  display: block;
}
.feature {
  text-align: center;
  padding-top: 76px;
}
.feature__title-mware {
  font: 43px $font;
  color: #010101;
  padding-bottom: 30px;
}
.feature__text-mware {
  font: 17px $font;
  color: #414141;
  padding-bottom: 54px;
  line-height: 27px;
}
.feature__mware {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 48px 0;
  text-align: center;
}
.feature__mware-title {
  font: 25px $font;
  color: #010101;
}
.feature__mware-title.control {
  padding-bottom: 428px;
  background: url("../images/canals.png") no-repeat 195px 54px;
}
.feature__mware-title.monit {
  padding-bottom: 547px;
  background: url("../images/monitoring.png") no-repeat -23px 93px;
}
.feature__mware-text {
  font: 17px $font;
  color: #010101;
  padding-top: 20px;
}
.feature__mware-text.tarif {
  font: 17px $font;
  color: #010101;
  line-height: 27px;
  padding: 20px 139px 197px 651px;
  text-align: left;
  background: url("../images/tarif.png") no-repeat 53px 34px;
}
.feature__mware-list {
  padding-top: 38px;
}
.feature__mware-item {
  float: left;
  width: 380px;
  height: 336px;
  padding: 302px 40px 0;
  font: 17px $font;
  color: #414141;
}
.feature__mware-item.plant1 {
  background: url("../images/plant1.png") no-repeat 36px 123px;
}
.feature__mware-item.plant2 {
  background: url("../images/plant2.png") no-repeat 57px 42px;
}
.feature__mware-item.plant3 {
  background: url("../images/plant3.png") no-repeat 77px -14px;
}
.feature__mware-col {
  width: 380px;
  text-align: left;
  float: left;
  font: 17px $font;
  color: #414141;
}
.feature__mware-tabslist {
  display: inline-block;
  padding-top: 25px;
}
.feature__mware-tab {
  float: left;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  padding: 10px 57px;
  font: 20px $font;
  color: #262626;
  cursor: pointer;
  height: 43px;
}
.feature__mware-tab:hover,
.feature__mware-tab.active-t {
  border-top: 2px solid #e72d45;
  color: #e72d45;
  padding: 8px 57px;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  box-shadow: 0px 0 0 1px #fff;
}
.feature__mware-tabscontent {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  height: 258px;
  margin-top: -3px;
}
.feature__mware-tabscontent__info {
  display: none;
}
.feature__mware-tabscontent__text {
  font: 17px $font;
  color: #262626;
  padding: 90px 501px 120px 184px;
  background: url("../images/tv-radio.png") no-repeat 738px 44px;
  line-height: 27px;
}
.feature__list {
  margin-bottom: 95px;
  margin-top: 69px;
}
.feature__list.midware {
  margin-top: 118px;
}
.feature__list-item {
  float: left;
  width: 359px;
  height: 238px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  padding: 43px 65px 40px 35px;
  text-align: left;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
  position: relative;
  margin-right: 30px;
}
.feature__list-item:last-child {
  margin-right: 0;
}
.feature__list-item:after {
  content: '';
  position: absolute;
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 13px solid #fff;
  box-shadow: 0px 3px 0px -1px #e4e4e4;
  top: -73px;
  right: 129px;
}
.feature__list-item.user-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 18px -313px;
}
.feature__list-item.user-icon:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 18px -313px;
}
.feature__list-item.settings-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 18px -462px;
}
.feature__list-item.settings-icon:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 18px -462px;
}
.feature__list-item.hand-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 18px -538px;
}
.feature__list-item.hand-icon:hover:after {
  background: #e41c22 url("../images/sprite2.png") no-repeat 18px -538px;
}
.feature__item-title {
  font: 25px $font;
  color: #262626;
}
.feature__item-text {
  font: 15px $font;
  color: #5b5b5b;
  display: inline-block;
  padding-top: 23px;
}
.feature__item-link {
  font: 15px $font;
  color: #e41c22;
  text-decoration: none;
  display: inline-block;
  padding-top: 25px;
}
.feature__item-link:hover {
  text-decoration: underline;
}
