.content__types {
  width: 1141px;
  height: 246px;
/*padding-top 92px*/
  margin-top: 92px;
  position: relative;
}
.content__types-left {
  width: 284px;
  height: 246px;
  position: relative;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  float: left;
}
.content__types-left__name {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
}
.content__types-left__title {
  display: block;
  width: 284px;
  height: 75px;
  border-radius: 8px;
  background: #e41c22;
  font: 30px 'PT Sans', sans-serif;
  color: #fff;
  text-align: center;
  line-height: 73px;
}
.content__types-left__arrow {
  position: absolute;
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #e41c22;
  border: 6px solid #fff;
  left: 119px;
  top: 60px;
}
.content__types-left__arrow:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-bottom-color: #fff;
  border-left-color: #e41c22;
  border-right-color: #fff;
  border-top-color: #e41c22;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 10px;
  top: 8px;
}
.content__types-left__list {
  width: 284px;
  padding: 33px 20px 0;
}
.content__types-left__item {
  height: 45px;
  border-bottom: 1px solid #e4e4e4;
  font: bold 17px 'PT Sans', sans-serif;
  padding-top: 10px;
}
.content__types-left__item:last-child {
  border-bottom: none;
}
.content__types-right {
  width: 856px;
  height: 246px;
  float: right;
  padding-left: 21px;
  padding-top: 5px;
  position: relative;
}
.content__types-right__item {
  float: left;
  width: 160px;
  height: 246px;
  margin-left: 39px;
  text-align: center;
  position: relative;
}
.content__types-right__pic {
  text-align: center;
}
.content__types-right__name {
  font: 25px 'PT Sans Narrow', sans-serif;
  color: #1a1a1a;
  padding-top: 29px;
  padding-bottom: 9px;
}
.content__types-right__discr {
  font: 17px 'PT Sans', sans-serif;
  color: #414141;
  height: 40px;
  display: inline-block;
  margin-bottom: 20px;
}
.content__types-right__more {
  font: 15px 'PT Sans', sans-serif;
  color: #e41c22;
  text-decoration: none;
}
.content__types-right__more:hover {
  text-decoration: underline;
}
.content__types-right__status {
  font: bold 15px 'PT Sans', sans-serif;
  display: inline-block;
  padding-top: 15px;
}
.content__types-right__status.instock {
  color: #34b20d;
}
.content__types-right__status.preorder {
  color: #2f8ad1;
}
.content__types-right__close,
.content__specs__close {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  background: #e9e9e9;
  color: #000;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  padding-top: 3px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.content__types-right__close:hover,
.content__specs__close:hover {
  background: #e41c22;
  color: #fff;
}
.content__specs__close {
  margin: 2px;
  padding-top: 2px;
}
.content__types-right.slide-left,
.content__types-right.slide-right {
  display: block;
  width: 10px;
  height: 19px;
  position: absolute;
}
.content__types-right.slide-left {
  background: url("../images/sprite2.png") no-repeat 11px -92px;
  left: 311px;
  top: 150px;
}
.content__types-right.slide-right {
  background: url("../images/sprite2.png") no-repeat 11px -110px;
  right: -11px;
  top: 150px;
}
.content__checkbox {
  display: none;
}
.content__checkbox + .content__types-left__name:before {
  margin-top: -1px;
  margin-left: -1px;
  content: "";
  opacity: 1;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #e4e4e4;
  margin-right: 18px;
  position: absolute;
  top: 2px;
  left: 0;
}
.content__checkbox:checked + .content__types-left__name:before {
  margin-top: -1px;
  margin-left: -1px;
  content: '';
  opacity: 1;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #fff url("../images/sprite2.png") 4px -69px;
  border: 1px solid #e4e4e4;
}
.content__specs,
.content__interfaces,
.content__middleware {
/*float left*/
  margin-top: 49px;
}
.content__specs__title,
.content__interfaces__title,
.content__middleware__title,
.content__shipping__title,
.content__seller__title,
.content__integrations__title {
  font: bold 17px 'PT Sans', sans-serif;
  color: #1d1d1d;
  padding-bottom: 29px;
}
.content__specs__table-row,
.content__interfaces__table-row,
.content__middleware__table-row {
  width: 1141px;
  height: 35px;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 6px;
  padding-left: 20px;
}
.content__specs__table-row:hover,
.content__interfaces__table-row:hover,
.content__middleware__table-row:hover {
  background: #f3f3f3;
}
.content__specs__table-row:first-child,
.content__interfaces__table-row:first-child,
.content__middleware__table-row:first-child {
  border-top: 1px solid #e4e4e4;
}
.content__specs__table-cell.title,
.content__interfaces__table-cell.title,
.content__middleware__table-cell.title {
  font: 17px 'PT Sans', sans-serif;
  color: #414141;
  width: 327px;
  padding: 0;
  margin: 0;
  text-align: left;
}
.content__specs__table-cell,
.content__interfaces__table-cell,
.content__middleware__table-cell {
  font: 15px 'PT Sans', sans-serif;
  float: left;
  margin-right: 41px;
  width: 160px;
  text-align: center;
}
.content__specs__table-cell:last-child,
.content__interfaces__table-cell:last-child,
.content__middleware__table-cell:last-child {
  margin-right: 0;
}
.content__specs__table-row.question {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e31e24;
  font-style: normal;
  padding: 0;
  font: 10px 'PT Sans', sans-serif;
  color: #e64045;
  text-align: center;
  position: relative;
}
.content__specs__pop-up {
  display: none;
  position: absolute;
  width: 355px;
  border: 1px solid #e4e4e4;
  border-top: 2px solid #e31e24;
  background: #fff;
  font: 15px 'PT Sans', sans-serif;
  color: #5b5b5b;
  top: 23px;
  left: -13px;
  text-align: left;
  padding-left: 29px;
  padding-top: 29px;
  padding-right: 40px;
  padding-bottom: 37px;
}
.content__specs__pop-up p {
  padding-top: 17px;
}
.content__specs__pop-up:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 7px solid;
  border-bottom-color: #e41f25;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  top: -15px;
  position: absolute;
  left: 16px;
}
.content__specs__table-row.question:hover > .content__specs__pop-up {
  display: block;
}
.content__interfaces {
  margin-top: 44px;
}
.content__middleware {
  margin-top: 41px;
}
.content__interfaces.present,
.content__middleware.present {
  display: block;
  width: 34px;
  height: 24px;
  background: url("../images/sprite2.png") 4px -214px;
  margin-top: 0;
  margin-left: 60px;
  margin-top: -4px;
}
.content__interfaces__table-cell,
.content__middleware__table-cell {
  height: 35px;
}
.content__shipping {
/*float left*/
/*width 1141px*/
  height: 146px;
  border-bottom: 1px solid #e1e1e1;
}
.content__shipping__title {
  padding-top: 30px;
  padding-bottom: 19px;
}
.content__shipping__country {
  width: 258px;
  height: 29px;
  border: 1px solid #e1e1e1;
  border-radius: 1px;
  font: 13px 'PT Sans', sans-serif;
  color: #9c9c9c;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: url("../images/sprite2.png") no-repeat 241px -188px;
  padding: 1px 9px;
  line-height: 19px;
}
.content__seller {
/*float left*/
/*width 1141px*/
  height: 539px;
}
.content__seller__title {
  padding-top: 34px;
}
.content__seller__info {
  float: left;
  width: 545px;
  height: 204px;
  padding-left: 281px;
  font: 15px 'PT Sans', sans-serif;
  color: #414141;
  padding-top: 23px;
}
.content__seller__info.map1 {
  background: url("../images/map4.png") no-repeat -10px 9px;
  margin-right: 42px;
}
.content__seller__info.map2 {
  background: url("../images/map3.png") no-repeat -10px 9px;
}
.content__seller__info.map3 {
  background: url("../images/map2.png") no-repeat 39px 9px;
  margin-right: 42px;
}
.content__seller__info.map4 {
  background: url("../images/map1.png") no-repeat 6px 39px;
}
.content__seller__contacts {
  line-height: 23px;
}
.content__seller__tel,
.content__seller__mail,
.content__seller__site {
  color: #e41c22;
}
.content__seller__mail {
  text-decoration: underline;
}
.content__seller__skype {
  background: url("../images/sprite2.png") no-repeat 0px -153px;
  padding-left: 23px;
  color: #414141;
}
.content__integrations__title {
  padding-bottom: 20px;
}
.content__integrations__info {
  float: left;
  width: 554px;
  height: 240px;
  border: 1px solid #e4e4e4;
  padding: 39px 29px 26px 38px;
  margin-right: 30px;
  margin-bottom: 98px;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
}
.content__integrations__info:last-of-type {
  margin-right: 0;
}
.content__integrations__info:hover {
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
}
.content__integrations__text {
  font: 15px 'PT Sans', sans-serif;
  color: #5b5b5b;
  padding: 8px 0 19px 0;
  line-height: 23px;
}
.content__integrations__projects {
  font: 15px 'PT Sans', sans-serif;
  color: #e41c22;
  text-decoration: none;
}
.content__integrations__projects:hover {
  text-decoration: underline;
}
