.support__wel {
  height: 285px;
  padding-left: 0 210px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  margin-top: 44px;
}
.support__wel-title {
  font: 43px $font;
  color: #010101;
  padding-bottom: 14px;
  padding-top: 37px;
}
.support__wel-text {
  font: 17px $font;
  color: #414141;
  line-height: 27px;
}
.support__list {
  padding-top: 57px;
  padding-bottom: 70px;
}
.support__list-item {
  float: left;
  width: 378px;
  height: 197px;
  border-radius: 9px;
  border: 1px solid #e4e4e4;
  text-align: center;
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.3);
  margin-bottom: 57px;
}
.support__list-picbox {
  width: 240px;
  height: 104px;
  overflow: hidden;
  margin-left: 65px;
  margin-bottom: 10px;
}
.support__list-link {
  font: 25px $font;
  color: #262626;
  text-decoration: none;
  padding-top: 32px;
  display: block;
  width: 100%;
  height: 100%;
}
.feature__list-item.comm-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 7px -1695px;
}
.feature__list-item.comm-icon:hover:after {
  background: #252525 url("../images/sprite2.png") no-repeat 7px -1695px;
}
.feature__list-item.faq-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 13px -1596px;
}
.feature__list-item.faq-icon:hover:after {
  background: #252525 url("../images/sprite2.png") no-repeat 13px -1596px;
}
.feature__list-item.contact-icon:after {
  background: #ccc url("../images/sprite2.png") no-repeat 15px -1503px;
}
.feature__list-item.contact-icon:hover:after {
  background: #252525 url("../images/sprite2.png") no-repeat 15px -1503px;
}
