$base-font = $museo-300;

//fonts

$museo-100 = 'museo100';
$museo-300 = 'museo300';
$museo-500 = 'museo500';
$museo-700 = 'museo700';
$museo-900 = 'museo900';

$museo-sans-100 = 'museo_sans_cyrl100';
$museo-sans-300 = 'museo_sans_cyrl300';
$museo-sans-500 = 'museo_sans_cyrl500';
$museo-sans-700 = 'museo_sans_cyrl700';
$museo-sans-900 = 'museo_sans_cyrl900';


// base colors

$dark-grey = #3d414a;
$orange = #f7901e;
$bright-orange = #f36e21;
$blue = #007ec5;