html, body {
	height: 100%;
	/*background: #8e8582;*/
}
#wrapper {
	min-height: 100%;
	margin: 0 auto -146px;
	width: 1024px;
	position: relative;
}
#wrapper:before {
	content:'';
	position: absolute;
	background: url(../img/left-girl.jpg) no-repeat;
	width: 288px;
	height: 1199px;
	top: 0;
	left: -288px;
}
#wrapper:after {
	content:'';
	position: absolute;
	background: url(../img/right-girl.jpg) no-repeat;
	width: 288px;
	height: 1199px;
	top: 0;
	right: -288px;
}
footer {
	width: 1024px;
	height: 146px;
	/*margin: 45px auto 0;*/
	margin: 31px auto 0;
}
.content, .footer-menu,
.copyright {
	width: 993px;
	margin: 0 auto;
}

/*=======================General Styles============================*/
@font-face {
  font-family: 'Jikharev';
  src: url("../fonts/Jikharev Regular.ttf") format('truetype');
}
@font-face {font-family: 'Museo-700';src: url('../fonts/28A989_0_0.eot');src: url('../fonts/28A989_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/28A989_0_0.woff') format('woff'),url('../fonts/28A989_0_0.ttf') format('truetype');}

#sidebar ul li, a, #slideshow-wrap label {
	cursor: url(../img/cursor.png), pointer;
}
input {
	outline: none;
}
select {
	border: 1px solid #e0dada;
	box-shadow: inset 2px 1px 6px 2px rgba(0,0,0, .06);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	background: #fff url(../img/drop-down.png) no-repeat 95%;
}
select::-ms-expand {
	display: none;
}
input, textarea {
	box-shadow: inset 2px 1px 6px 2px rgba(0,0,0, .06);
}
del {
	font: bold 12px 'Tahoma';
	color: #868686;
	padding-right: 4px;
}
#special.specials, #special.products,
#special.faqs, #special.contact {
	opacity: 0;
}
.left {
	float: left;
}
.right {
	float: right;
	width: 240px;
	/*height: 78px;*/
}
.price {
	font: bold 14px 'Tahoma';
	color: #da4d7f;
}
.add-cart, .details {
	text-decoration: none;
	text-transform: uppercase;
	font: 10px 'Tahoma';
	display: block;
	width: 88px;
	height: 18px;
	border-radius: 2px;
	text-align: center;
	padding-top: 6px;
}
.add-cart {
	background: #523e3e;
	color: #d5cdcd;
}
.details {
	background: #9c9c9c;
	color: #fff;
}
/*.slider-pages {
	position: absolute;
	bottom: 14px;
	right: 15px;
}
.slider-pages a {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #e5e5e5;
}
.slider-pages a:hover,
.main-pages a:hover {
	background: #da4d7f;
}*/
.main-pages {
	float: left;
	margin-top: 15px;
}
.main-pages a {
	display: inline-block;
	width: 20px;
	height: 17px;
	background: #523e3e;
	text-decoration: none;
	text-align: center;
	font: 11px 'Tahoma';
	color: #a39e9e;
	padding-top: 3px;
}
.send {
	display: block;
	text-decoration: none;
	font: 14px 'Museo-700';
	background: #523e3e;
	color: #d5cdcd;
	width: 98px;
	height: 20px;
	border-radius: 2px;
	text-align: center;
	padding-top: 6px;
	margin-left: 130px;
	margin-top: 11px;
}
/*=======================INDEX============================*/
h1 {
	padding-top: 15px;
	padding-left: 7px;
}
h1 a {
	text-indent: -9999px;
	background: url(../img/logo.png) no-repeat;
	display: block;
	width: 206px;
	height: 57px;
}
h2, .manufact label, 
.footer-menu ul li a {
	font: 11px 'Tahoma';
	color: #523e3e;
	text-transform: uppercase;
}
h3 {
	font: 11px 'Tahoma';
	color: #523e3e;
	padding-left: 8px;
}
#currency, #cart, #search {
	float: right;
	margin-top: 14px;
}
#currency label, #sortby label {
	font: 11px 'Tahoma';
	color: #9a9898;
	text-transform: uppercase;
	padding-right: 10px;
}
#currency select {
	width: 111px;
	height: 23px;
}
#currency select, #currency select option,
#sortby select, #sortby select option {
	font: 12px 'Tahoma';
	color: #9a9898;
}

#cart a {
	font: italic bold 11px 'Tahoma';
	color: #593636;
	text-decoration: none;
	padding-right: 4px;
}
#cart p {
	font: 11px 'Tahoma';
	color: #c2b7b7;
}
#cart span {
	font: 12px 'Tahoma';
	color: #da4d7f;
}
#search {
	width: 355px;
	height: 34px;
	border-radius: 2px;
	background: #d5cdcd;
	margin-bottom: 15px;
}
#search input {
	width: 267px;
	height: 12px;
	border: 1px solid #c5c3c3;
	padding: 6px 0 7px 7px;
	margin-top: 4px;
	float: right;
	margin-right: 3px;
	background: #fff url(../img/search-icon.png) no-repeat 98% 50%;
}
#search label {
	font: 11px 'Tahoma';
	color: #593636;
	float: left;
	padding: 12px 0 0 21px; 
}
nav {
	padding: 8px 0 15px;
}
nav a {
	display: inline-block;
	width: 104px;
	height: 24px;
	background: #523e3e;
	margin-right: -3px;
	border-radius: 2px;
	text-decoration: none;
	font: 12px 'Tahoma';
	color: #e1e1e1;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
}
nav a:hover {
	background: -webkit-linear-gradient(top, #bd3565 100%, #da4d7f 0%);
	background: -moz-linear-gradient(top, #bd3565 100%, #da4d7f 0%);
	background: -o-linear-gradient(top, #bd3565 100%, #da4d7f 0%);
	background: -ms-linear-gradient(top, #bd3565 100%, #da4d7f 0%);
	color: #fff;
}
#sidebar {
	float: left;
	width: 164px;
	padding-right: 15px;
}
#sidebar h2 {
	display: block;
	width: 149px;
	height: 19px;
	background: #d5cdcd;
	padding: 10px 0 0 15px;
}
#sidebar ul {
	background: #f2f2f2;
	border: 1px solid #d5cdcd;
	border-radius: 2px;
	padding: 6px 0 9px 16px;
	margin-bottom: 28px;
}
#sidebar ul li {
	line-height: 24px;
}
#sidebar ul li a {
	text-decoration: none;
	font: 12px 'Tahoma';
	color: #797575;
	display: inline-block;
	width: 134px;
	height: 18px;
}
#sidebar ul li a:hover {
	color: #c03768;
	display: block;
	background: #fff;
	width: 134px;
	height: 19px;
	border-top: 1px solid #dcdbdb;
	padding-top: 4px;
	padding-left: 5px;
	margin-left: -5px;
}
.manufact {
	float: left;
}
.manufact select {
	width: 162px;
	height: 26px;
	margin-top: 8px;
}
.manufact select, .manufact select option {
	font: 12px 'Tahoma';
	color: #a4a1a1;
}
#special {
	float: left;
	margin-top: 27px;
	border: 1px solid #f99ebe;
	padding-bottom: 10px;
}
#special h2 {
	display: block;
	width: 149px;
	height: 19px;
	background: #da4d7f;
	font: 11px 'Tahoma';
	color: #e1e1e1;
	text-transform: uppercase;
	padding: 7px 0 0 15px;
}
#special p, .item-block article p,
.item-info p {
	font: 12px 'Tahoma';
	color: #a39e9e;
	padding-left: 8px;
	padding-bottom: 4px;
}
#special img {
	padding: 2px 4px 9px 4px;
}
#special a {
	margin: 5px 0 4px 8px;
}
footer {
	background: #d5cdcd;
}
.payments {
	margin-top: 19px;
	float: left;
}
.social-icon {
	margin-top: 26px;
}
.facebook, .twitter {
	text-decoration: none;
	text-transform: uppercase;
	font: 11px 'Tahoma';
	color: #5a5859;
	display: inline-block;
	width: 25px;
	height: 25px;
	float: right;
	margin-right: 138px;
	margin-top: 21px;
}
.facebook span, .twitter span {
	display: block;
	width: 118px;
	float: left;
	padding-left: 32px;
	margin-top: 6px;
}
.facebook {
	background: url(../img/icons.png) no-repeat;
}
.twitter {
	background: url(../img/icons.png) no-repeat 65%;
}
.twitter:hover {
	background: url(../img/icons.png) no-repeat 99%;
}
.facebook:hover {
	background: url(../img/icons.png) no-repeat 33%;
}
.footer-menu {
	border-top: 1px solid #e5e0e0;
	margin-top: 19px;
}
.footer-menu ul {
	text-align: center;
	padding-top: 13px;
}
.footer-menu ul li {
	display: inline-block;
	text-align: center;
}
.footer-menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin-right: 21px;
}
.copyright {
	font: 12px 'Tahoma';
	color: #523e3e;
	text-align: center;
	padding-top: 14px;
}
/*=======================Home============================*/
./*slider {
	float: left;
	width: 569px;
	height: 547px;
	background: url(../img/slider1.jpg) no-repeat;
	position: relative;
	margin-bottom: 30px;
}*/
.banners {
	float: right;
	width: 230px;
}
.banners > a img {
	margin-bottom: 12px;
}
.banners > a:last-child img {
	margin-bottom: 30px;
}
.item-block {
	float: left;
	margin-bottom: 13px;
}
.item-block h2, .new-prod h2,
.special-prod h2, .all-prod h2, 
.questions h2, .contact-us h2 {
	font: 14px 'Museo-700';
	color: #3b2727;
	text-transform: uppercase;
	margin-bottom: 9px;
}
.item-block article {
	float: left;
	border: 1px solid #d6d3d3;
	width: 186px;
	height: 285px;
	margin-right: 9px;
	padding-left: 5px;
}
.item-block article:last-child {
	margin-right: 0;
}
.item-block article a,
.item-info a {
	display: inline-block;
}
.item-block article img {
	padding-left: 22px;
	padding-bottom: 16px;
	padding-top: 7px;
}
.item-block article h3, 
.item-block article p {
	padding-left: 0;
}
/*=======================New / Products ============================*/
.new-prod, .special-prod,
.all-prod {
	float: left;
	width: 814px;
}
#sortby {
	padding-top: 6px;
}
#sortby select {
	width: 170px;
	height: 23px;
}
.qty-display {
	font: 11px 'Tahoma';
	color: #5a5858;
	float: left;
	padding-top: 18px;
	padding-bottom: 23px;
}
.new-item {
	float: right;
	width: 782px;
	border: 1px solid #e1e1e1;
	padding: 8px 8px 0px 21px;
	margin-bottom: 13px;
}
.new-item img {
	float: left;
}
.item-info {
	float: left;
	width: 600px;
	padding: 8px;
}
.item-info h3 {
	font: bold 12px 'Tahoma';
	color: #523e3e;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.item-info p {
	line-height: 18px;
}
.item-info a {
	margin-top: 6px;
	margin-left: 8px;
}
.item-criteria {
	padding: 15px 0;
}
/*=======================FAQ============================*/
.questions, .contact-us {
	float: left;
	padding-left: 21px;
	width: 793px;
}
.questions h2 {
	padding-bottom: 24px;
}
.questions article {
	margin-bottom: 20px;
}
.questions article h3 {
	font: bold 12px 'Tahoma';
	color: #da4d7f;
	line-height: 18px;
}
.questions article p {
	font: 12px 'Tahoma';
	color: #828282;
	line-height: 18px;
}
/*=======================CONTACT============================*/

.contact-us h2 {
	padding-bottom: 25px;
}
.address, .contact-us span {
	font: 12px 'Tahoma';
	color: #828282;
	line-height: 18px;
	float: left;
}
.contact-us span {
	font-weight: bold;
	padding-top: 17px;
	padding-bottom: 24px;
}
.contact-us form {
	float: left;
}
.contact-us form label {
	float: left;
	font: 11px 'Tahoma';
	color: #593636;
	width: 56px;
	padding: 9px 29px 0 45px;
}
.contact-us form textarea {
	outline: none;
}
.contact-us form input {
	width: 328px;
	height: 12px;
	padding: 6px;
	padding: 7px 0 7px 7px;
	border: 1px solid #c5c3c3;
	margin-bottom: 9px;
}
.contact-us form textarea {
	width: 563px;
	height: 120px;
	padding: 5px;
	border: 1px solid #c5c3c3;
}
/*=======================SLIDER============================*/


#slideshow-wrap {
	display: block;
	height: 547px;
	width: 569px;
	position: relative;
	float: left;
	margin-right: 15px;
}

#slideshow-inner {
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	overflow: hidden;
	position: relative;
}

#slideshow-inner>ul {
	list-style: none;
	height: 100%;
	width: 500%;
	overflow: hidden;
	position: relative;
	left: 0px;
	-webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
	width: 20%;
	height: 547px;
	float: left;
	position: relative;
}

#slideshow-inner>ul>li>img {
	margin: auto;
	height: 100%;
}

#slideshow-wrap input[type=radio] {
	position: absolute;
	left: 50%;
	bottom: 15px;
	z-index: 100;
	visibility: hidden;
}

#slideshow-wrap label {
	position: absolute;
	left: 87%;
	bottom: 20px;
	z-index: 100;
	width: 16px;
	height: 16px;
	background: #e5e5e5;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}


#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1],
#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2],
#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3],
#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { 
	background: #da4d7f;
}


#slideshow-wrap label[for=button-1] { 
	margin-left: -36px;
}

#slideshow-wrap label[for=button-2] {
	margin-left: -18px;
}

#slideshow-wrap label[for=button-4] {
margin-left: 18px;
}

#slideshow-wrap label[for=button-5] {
margin-left: 36px;
}

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { 
	left: 0;
}

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul {
	left: -100%;
}

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { 
	left: -200%;
}

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { 
	left: -300%;
}

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul {
 	left: -400%;
 }


input[type=radio]#button-1:checked~.arrows#arrow-2,
input[type=radio]#button-2:checked~.arrows#arrow-3,
input[type=radio]#button-3:checked~.arrows#arrow-4,
input[type=radio]#button-4:checked~.arrows#arrow-5 {
	right: -55px;
	display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1,
input[type=radio]#button-3:checked~.arrows#arrow-2,
input[type=radio]#button-4:checked~.arrows#arrow-3,
input[type=radio]#button-5:checked~.arrows#arrow-4 {
	left: -55px;
	display: block;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 {
	left: -19px;
}

input[type=radio]#button-3:checked~.arrows#arrow-2 {
	left: -37px;
}

input[type=radio]#button-5:checked~.arrows#arrow-4 {
 	left: -73px;
 }
#slideshow-inner>ul>li:hover {
	opacity: 1;
}
