html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,inner,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0};
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/*=====================================*/
@font-face {
	font-family: "PFDinTextCondPro-Medium";
	src: url('../fonts/pfdintextcondpro-medium.eot');
	src: url('../fonts/pfdintextcondpro-medium.eot?#iefix') format('embedded-opentype');
	src: url("../fonts/PFDinTextCondPro-Medium.ttf") format('truetype');
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	height: 100%;
	font: 11px 'Arial';
	background: #f1ece8;
	min-width: 1110px;
}

a {
	cursor: pointer;
	text-decoration: none;
}
input, textarea, select {
	outline: none;
	border: none;
}

.menu {
	margin-bottom: 25px;
}
	.menu__upper {
		width: 100%;
		height: 40px;
		background: #e7683c;
		border-bottom: 1px solid #7c3720;
		outline: 1px solid #67473b;
	}
		.menu__upper__inner {
			width: 1093px;
			margin: 0 auto;
			padding-top: 9px;
		}
			.menu__upper__inner__help {
				font-size: 12px;
				float: left;
				padding-top: 6px;
			}
				.menu__upper__inner__help__item {
					float: left;
					margin-right: 20px;
				}
				.menu__upper__inner__help__item:nth-child(2) {
					font-weight: bold;
				}
					.menu__upper__inner__help__item__link {
						color: #fff;
					}
			.menu__upper__inner__user {
				float: right;
			}
				.menu__upper__inner__user__label {
						color: #fff;
						padding: 0px 8px 0px 10px;
						font-size: 12px;
				}
				.menu__upper__inner__user__login,
				.menu__upper__inner__user__pass {
					background: #da633a;
					-webkit-box-shadow: inset 1px 1px 2px 1px rgba(211,82,45,1);
					-moz-box-shadow: inset 1px 1px 2px 1px rgba(211,82,45,1);
					box-shadow: inset 1px 1px 2px 1px rgba(211,82,45,1);
					width: 125px;
					height: 24px;
					padding: 4px;
					border-radius: 4px;
					border-bottom: 1px solid #ed7a49;
					color: #fff;
				}
				.menu__upper__inner__user__submit, 
				.menu__upper__inner__user__lang {
					background: -webkit-linear-gradient(top, #e9835f 100%, #fff 0%);
					background: -moz-linear-gradient(top, #e9835f 100%, #fff 0%);
					background: -o-linear-gradient(top, #e9835f 100%, #fff 0%);
					background: -ms-linear-gradient(top, #e9835f 100%, #fff 0%);
					border-radius: 4px;
					font-size: 12px;
					color: #fff;
				}
				.menu__upper__inner__user__submit {
					display: inline-block;
					width: 36px;
					height: 24px;
					text-align: center;
					padding-top: 4px;
					margin: 0 25px 0 8px;
				}
				.menu__upper__inner__user__lang {
					width: 160px;
					height: 24px;
					/*padding-left: 10px;*/
					padding: 3px 10px 3px 10px;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 0.01px;
					text-overflow: '';
					background: url(../images/drop-down.png) no-repeat 95%, -webkit-linear-gradient(top, #e9835f 100%, #fff 0%);
					background: url(../images/drop-down.png) no-repeat 95%, -moz-linear-gradient(top, #e9835f 100%, #fff 0%);
					background: url(../images/drop-down.png) no-repeat 95%, -o-linear-gradient(top, #e9835f 100%, #fff 0%);
					background: url(../images/drop-down.png) no-repeat 95%, -ms-linear-gradient(top, #e9835f 100%, #fff 0%);

				}
				.menu__upper__inner__user__lang option {
					color: #000;
				}
	.menu__lower {
		width: 100%;
		height: 69px;
		background: #2e2d2c;
	}
		.menu__lower__inner, #wrapper {
			width: 1093px;
			margin: 0 auto 320px;
		}
			.menu__lower__inner__left,
			.menu__lower__inner__left img,
			.menu__lower__nav {
				float: left;
			}
				.menu__lower__inner__left img {
					padding: 23px 0 0 0;
				}
				.menu__lower__nav {
					padding: 15px 0 0 34px;
				}
				.menu__lower__inner__nav__unit:first-child {
					border-radius: 4px 0 0 4px;
				}
				.menu__lower__inner__nav__unit:last-child {
					border-radius: 0 4px 4px 0;
					border-right: none;
				}
				.menu__lower__inner__nav__unit {
					display: block;
					float: left;
					width: 100px;
					height: 39px;
					text-align: center;
					background: #262524;
					border-right: 1px solid #21201f;
					border-bottom: 1px solid #3a3938;
					font: 15px 'PFDinTextCondPro-Medium';
					text-transform: uppercase;
					color: #fff;
					line-height: 38px;
					-webkit-box-shadow: inset 0px 1px 1px 0px rgba(34,33,32,1);
					-moz-box-shadow: inset 0px 1px 1px 0px rgba(34,33,32,1);
					box-shadow: inset 0px 1px 1px 0px rgba(34,33,32,1);
				}
				.menu__lower__inner__nav__unit:hover {
					background: #e7683c;
				}
		.menu__lower__inner__right,
		.menu__lower__inner__right__jackpot,
		.menu__lower__inner__right__calendar {
			float: right;
			padding-top: 15px;    /*-----------------------*/
		}
			.menu__lower__inner__right__jackpot__counter,
			.menu__lower__inner__right__jackpot__title,
			.menu__lower__inner__right__jackpot__counter__currency, 
			.menu__lower__inner__right__jackpot__counter__number {
				float: left;
			}
		.menu__lower__inner__right__jackpot {
			width: 248px;
			height: 38px;
			border-radius: 3px;
			border: 1px solid #7e4633;
			/*margin-top: 15px;*/
			padding-top: 8px;
		}
			.menu__lower__inner__right__jackpot__counter {
				background: #151515;
				border-bottom: 1px solid #3a3938;
			}
				.menu__lower__inner__right__jackpot__title {
					font: 15px 'PFDinTextCondPro-Medium';
					color: #e7683c;
					text-transform: uppercase;
					line-height: 22px;
					padding: 0 20px 0 16px;
				}
				.menu__lower__inner__right__jackpot__counter__currency, 
				.menu__lower__inner__right__jackpot__counter__number {
					float: left;
					width: 16px;
					height: 21px;
					background: url(../images/roulette.png) no-repeat;
					font: 15px 'PFDinTextCondPro-Medium';
					color: #2e2d2c;
					text-align: center;
					padding-top: 1px;
					line-height: 21px;
				}
				.menu__lower__inner__right__jackpot__counter__currency {
					color: #b2441e;
				}
		.menu__lower__inner__right__calendar {
			width: 140px;
			padding-top: 10px;
		}
			.menu__lower__inner__right__calendar__icon {
				display: block;
				width: 19px;
				height: 20px;
				background: url(../images/calendar.png) no-repeat;
				margin: 0 14px 0 20px;
				float: left;
			}
			.menu__lower__inner__right__calendar__date,
			.menu__lower__inner__right__calendar__time {
				float: left;
			}
			.menu__lower__inner__right__calendar__date {
				font: 12px 'Arial';
				color: #fff;
			}
			.menu__lower__inner__right__calendar__time {
				font: 10px 'Arial';
				color: #e7683c;
			}
.left-col {
	width: 164px;
	float: left;
	margin: 25px 25px 0 0;
}
	.left-col__events,
	.left-col__search {
		border-bottom: 1px solid #ded6cf;
	}
		.left-col__events__live-bet,
		.right-col__bet-sleep {
			display: block;
			width: 160px;
			height: 31px;
			background: #fbf7ef;
			font: bold 13px 'Arial';
			color: #e7683c;
			line-height: 30px;
			padding-left: 10px;
			border-radius: 2px;
			margin-bottom: 10px;
		}
		.left-col__events__live-bet__counter,
		.right-col__events__bet-sleep__counter {
			float: right;
			width: 30px;
			height: 22px;
			background: #ffe4da;
			border-radius: 2px;
			margin: 4px;
			color: #000;
			text-align: center;
			font-weight: bold;
			line-height: 24px;
		}
		.left-col__events__all {
			margin-bottom: 36px;
		}
		.left-col__events__all__title {
			font: 13px 'Arial';
			color: #000;
			padding: 0 0 9px 5px;
		}
		.left-col__events__all__choice {
			border: 1px solid #ece5de;
			width: 160px;
			height: 31px;
			font-weight: bold;
			line-height: 20px;
			border-radius: 3px;
			padding: 5px;
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background: url(../images/drop-down-black.png) no-repeat 95%, #fbf7ef;
			
		}
	.left-col__search {
		padding-bottom: 15px;
	}
		.left-col__search__title,
		.left-col__category__title {
			text-transform: uppercase;
			font: 15px 'PFDinTextCondPro-Medium';
			padding: 36px 0 15px 8px;
			letter-spacing: 2px;
		}
		.left-col__search__field {
			width: 143px;
			height: 23px;
			-webkit-box-shadow: inset 1px 1px 2px 0px #c4c4c4;
			-moz-box-shadow: inset 1px 1px 2px 0px #c4c4c4;
			box-shadow: inset 1px 1px 2px 0px #c4c4c4;
			float: left;
			padding: 4px;
		}
		.left-col__search__field__icon {
			float: right;
			width: 13px;
			height: 7px;
			background: url(../images/go.png) no-repeat;
			margin-top: 9px;
			margin-right: 3px;
		}
		.left-col__category__list {
			border-bottom: 1px solid #ded6cf;
		}
			.left-col__category__list__item {
				padding-bottom: 20px;
				padding-left: 8px;
				font: 13px 'Arial';
			}
			.left-col__category__list__item > a {
				color: #000;
			}
			.left-col__category__list__item-main {
				font: bold 13px 'Arial';
				margin-bottom: 15px;
				margin-top: -10px;
			}
				.left-col__category__list__item-main__drop {
					display: block;
					color: #e7683c;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 0.01px;
					text-overflow: '';
					background: url(../images/drop-down-black-rev.png) no-repeat 95%, #fbf7ef;
					width: 162px;
					height: 29px;
					line-height: 30px;
					padding-left: 8px;
					border-bottom: 1px solid #f1ece8;
					border-radius: 3px 3px 0 0;
				}
				.left-col__category__list__item-main__drop-list {
					background: #fbf7ef;
					width: 162px;
					
				}
				.left-col__category__list__item-main__drop-list li {
					padding-left: 8px;
					border-bottom: 1px solid #f1ece8;
					padding: 9px;
				}
				.left-col__category__list__item-main__drop-list li:last-child {
					border-bottom: none;
					border-radius: 0 0 3px 3px;
				}
					.left-col__category__list__item-main__drop-list__title {
						font: bold 12px 'Arial';
						color: #000;
					}
					.left-col__category__list__item-main__drop-list__discription {
						font: bold 10px 'Arial';
						color: #c3c3c3;
						line-height: 15px;
					}
.table {
	width: 720px;
	float: left;
	margin-bottom: 51px;
	border-radius: 4px;
	position: relative;
}
	.table__head {
		font: bold 12px 'Arial';
		padding-left: 20px;
	}
	.table__tabs {
		width: 714px;
		list-style: none;
		position: relative;
		margin-top: 10px;
	}
		.table__tabs__item__events, 
		.table__tabs__item__feature,
		.table__tabs__item__select {
			float: left;
			border-right: 1px solid #e7e7e7;
			height: 44px;
		}
		.table__tabs__item__select {
			width: 384px;
		}
		.table__tabs__item__refresh {
			float: right;
			border-right: 1px solid #e7e7e7;
			height: 44px;
			width: 98px;
		}
		.table__tabs__item__events .table__tabs__item__tab-label {
			width: 98px;
		}
		.table__tabs__item__feature .table__tabs__item__tab-label {
			width: 130px;
		}
		.table__tabs__item__select .table__tabs__item__tab-label {
			width: 384px;
		}
		.table__tabs__item__refresh .table__tabs__item__tab-label {
			width: 98px;
		}
			.table__tabs__item__radio {
				position: absolute;
			}
			.table__tabs__item__tab-label {
				display: block;
				/*padding: 15px 18px;*/
				font: 10px 'PFDinTextCondPro-Medium';
				color: #000;
				text-transform: uppercase;
				background: #fff;
				cursor: pointer;
				position: relative;
				letter-spacing: 1px;
				height: 44px;
				line-height: 44px;
				text-align: center;
			}
			.table__tabs__item__tab-content {
				position: absolute;
				top: 45px;
				left: 1px;
			}
			.table__tabs__item:first-child {
				border-radius: 4px 0 0 0;
				/*border-right: none;*/
			}
			[id^=tab]:checked + label {
				background: #fbf7ef;
			}
			[id^=tab]:checked ~ [id^=tab-content] {
				display: block;
			}
			.table__tabs__item__tab-content {
				display: none;
				position: absolute;
				left: 1px;
				box-sizing: border-box;
				-webkit-animation-duration: 0.5s;
				-o-animation-duration: 0.5s;
				-moz-animation-duration: 0.5s;
				animation-duration: 0.5s;
			}
			.table__tabs__item__select-table {
				width: 384px;
				height: 44px;
				-webkit-appearance: none;
				-moz-appearance: none;
				text-indent: 0.01px;
				text-overflow: '';
				background: url(../images/table-drop.png) no-repeat 95%, #fff;
				text-transform: uppercase;
				font: 10px 'PFDinTextCondPro-Medium';
				direction: rtl;
				/*padding-right: 29px;*/
				letter-spacing: 1px;
				padding: 14px 29px 14px 0;
			}
			.table__tabs__item__refresh__link {
				float: left;
				width: 98px;
				height: 44px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font: 10px 'PFDinTextCondPro-Medium';
				background: #fff url(../images/refresh.png) no-repeat 12px 15px;
				line-height: 41px;
				padding-left: 28px;
			}
.table__tabs__item__tab-content__table1 {
	position: relative;
	background: #fff;
	padding-bottom: 20px;
}
.table__tabs__item__tab-content__table1__name {
	/*position: absolute;*/
	width: 714px;
	background: #fff;
	/*top: 45px;*/
}
	.table__tabs__item__tab-content__table1__name__title {
		float: left;
		font: 15px 'PFDinTextCondPro-Medium';
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 18px 0 13px 20px;
	}
	.table__tabs__item__tab-content__table1__name__all-bets {
		float: right;
		font: bold 11px 'Arial';
		color: #000;
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		background: #fff url(../images/table-drop.png) no-repeat 72% 80%;
		padding: 17px 19px 0 0;
}
.table__inner {
	margin-left: 20px;
	width: 672px;
	background: #fff;
	margin-right: 20px;
}
	.table__inner__head-row {
		
		height: 42px;
		border: 1px solid #e7e7e7;
		border-left: none;
		color: #aaa;
		/*font-size: 9px;*/
	}
		.table__inner__head-row__event-cell {
			width: 227px;
			padding-top: 8px;
			border-right: 1px solid #e7e7e7;

		}
		.table__inner__head-row__calc-cell {
			width: 40px;
			border-right: 1px solid #e7e7e7;
			text-align: center;
		}
	.table__inner__orig-row {
		height: 67px;
		border: 1px solid #e7e7e7;
		border-left: none;
		color: #000;
		/*font-size: 9px;*/
	}
		.table__inner__orig-row__event-cell {
			text-align: left;
			border-right: 1px solid #e7e7e7;
		}
		.table__inner__orig-row__calc-cell {
			padding-top: 8px;
			border-right: 1px solid #e7e7e7;
			text-align: center;
		}
		.table__inner__orig-row__event-cell__name {
			list-style-type: decimal;
			list-style-position: inside;
		}
		.table__inner__orig-row__calc-cell:hover {
			color: #fff;
			background: #e7683c;
		}
			.table__inner__orig-row__event-cell__info {
				color: #aaa;
				padding-top: 12px;
				padding-right: 6px;
			}
			.table__inner__orig-row__event-cell__info__more {
				float: left;
				width: 35px;
				height: 20px;
				background: #fff url(../images/table-drop-grey.png) no-repeat 76% 39%;
				color: #aaa;
			}
			.table__inner__orig-row__event-cell__info__date {
				float: right;
			}
.right-col {
	width: 162px;
	float: right;
	margin: 25px 0 0 0;
}
	.right-col__checkbox {
		float: left;
		margin-top: -20px;
	}
/*		.right-col__checkbox:not(:checked),
		.right-col__checkbox:checked), {
			position: absolute;
			left: -9999px;
		}*/
		.right-col__one-click {
			font: bold 12px 'Arial';
			color: #000;
			float: left;
			padding-top: 1px;
			margin-top: -22px;
			padding-left: 24px;
		}
/*		.right-col__checkbox:not(:checked) + .right-col__one-click,
		.right-col__checkbox:checked) + .right-col__one-click {
			position: relative;
			padding-left: 25px;
			cursor: pointer;
		}
		.right-col__checkbox:not(:checked) + .right-col__one-click:before,
		.right-col__checkbox:checked) + .right-col__one-click:before {
			content: "";
			position: absolute;
			display: inline-block;
			height: 12px;
			width: 12px;
			border: 1px solid #858585;
			background: -webkit-linear-gradient(top, #fff 0%, #ececec 100%);
			background: -moz-linear-gradient(top, #fff 0%, #ececec 100%);
			background: -o-linear-gradient(top, #fff 0%, #ececec 100%);
			background: -ms-linear-gradient(top, #fff 0%, #ececec 100%);
			border-radius: 2px;
			margin: -2px 8px 0 0;
		}
		.right-col__checkbox:not(:checked) + .right-col__one-click:after,
		.right-col__checkbox:checked) + .right-col__one-click:after {
			content: "&#10003;";
			position: absolute;
			top: 0;
			transition: all .2s;
		}*/


	.right-col__bet-sleep {
		text-transform: uppercase;
		font: 12px 'PFDinTextCondPro-Medium';
		color: #000;
		height: 47px;
		line-height: 46px;
		margin-bottom: 0;
		border-bottom: 1px solid #e7e7e7;
	}
	.right-col__events__bet-sleep__counter {
		height: 27px;
		margin: 10px;
		line-height: 29px;
	}
		.right-col__tabs {
			list-style: none;
			position: relative;
			width: 162px;
		}
		.right-col__tabs__item {
			float: left;
			border-bottom: 1px solid #e7e7e7;
		}
		.right-col__tabs__item:first-child {
			border-right: 1px solid #e7e7e7;
		}
			.right-col__tabs__item__radio {
				position: absolute;
			}
			.right-col__tabs__item__tab-label1,
			.right-col__tabs__item__tab-label2 {
				display: block;
				font: 11px 'Arial';
				color: #000;
				background: #fbf7ef;
				cursor: pointer;
				position: relative;
				height: 29px;
				text-align: center;
				line-height: 28px;
			}
			.right-col__tabs__item__tab-label1 {
				width: 66px;
			}
			.right-col__tabs__item__tab-label2 {
				width: 94px;
			}

			.right-col__tabs__item__tab-content {
				position: absolute;
				top: 45px;
			}

			[id^=right-col__tab]:checked + label {
				background: #fff;
			}
			[id^=right-col__tab]:checked ~ [id^=right-col__tab-content] {
				display: block;
				width: 161px;
			}
			.right-col__tabs__item__tab-content {
				display: none;
				position: absolute;
				top: 30px;
				background: #fff;
				box-sizing: border-box;
				-webkit-animation-duration: 0.5s;
				-o-animation-duration: 0.5s;
				-moz-animation-duration: 0.5s;
				animation-duration: 0.5s;
				right: 1px;
			}
				.right-col__tabs__item__tab-content__list {
					padding: 0 10px 0;
					border-bottom: 1px solid #e7e7e7;
					background: #fff url(../images/close.png) no-repeat 97% 2%;
				}
					.right-col__tabs__item__tab-content__list__sub__discr {
						border-bottom: 1px solid #f7f7f7;
						padding: 12px 0 14px 0;
					}
						.right-col__tabs__item__tab-content__list__sub__discr__type {
							list-style-type: decimal;
							list-style-position: inside;
							font-size: 11px;
						}
						.right-col__tabs__item__tab-content__list__sub__discr__grey-text {
							font: 11px 'Arial';
							color: #aaaaaa;
						}
						.right-col__tabs__item__tab-content__list__sub__discr__input {
							float: right;
							width: 60px;
							height: 17px;
							-webkit-box-shadow: inset 1px 1px 3px 0px #c4c4c4;
							-moz-box-shadow: inset 1px 1px 3px 0px #c4c4c4;
							box-shadow: inset 1px 1px 3px 0px #c4c4c4;
							padding: 4px;
						}
			.right-col__tabs__item__totals,
			.right-col__tabs__item__button,
			.right-col__tabs__item__checkbox {
				width: 161px;
				padding: 10px 10px;
				background: #fbf7ef;
				border-bottom: 1px solid #e7e7e7;
			}
				.right-col__tabs__item__totals__num {
					float: right;
					font-weight: bold;
					
				}
					
				.right-col__tabs__item__button__place {
					display: block;
					width: 134px;
					height: 30px;
					background: #e7683c;
					border-radius: 4px;
					border: 1px solid #ca5b35;
					font: bold 12px 'Arial';
					color: #fff;
					text-align: center;
					line-height: 30px;
					margin-bottom: 8px;
				}
				.right-col__tabs__item__button__remove {
					display: block;
					width: 134px;
					height: 30px;
					background: transparent url(../images/bin.png) no-repeat 16%;
					border-radius: 4px;
					border: 1px solid #ece5de;
					font: bold 12px 'Arial';
					color: #000;
					text-align: center;
					line-height: 30px;
				}
				.right-col__tabs__item__button__remove:hover {
					background: #e7683c url(../images/bin.png) no-repeat 16%;
					color: #fff;
				}
		.right-col__tabs__item__checkbox {
			border-bottom: none;
			border-radius: 0 0 3px 3px;
		}
			.right-col__tabs__item__checkbox__input {
				float: left;
			}

.footer {
	margin: 0 auto -278px;
}
	.footer__upper {
		width: 100%;
		height: 55px;
		background: #2e2d2c;
		border-bottom: 1px solid #2c201b;
	}
		.footer__upper__inner,
		.footer__low__inner {
			width: 760px;
			margin: 0 auto;
		}
		.footer__upper__inner__menu {
			font: 13px 'PFDinTextCondPro-Medium';
			text-transform: uppercase;
			margin: 0 auto;
			text-align: center;
		}
		 .footer__upper__inner__menu__item {
		 	display: inline-block;
		 	padding: 22px 27px;
		 	position: relative;
		 }
		 .footer__upper__inner__menu__item:after {
		 	content: '';
		 	display: block;
			position: absolute;
			width: 6px;
			height: 6px;
			background: #e7683c;
			border-radius: 50%;
			right: -3px;
			top: 27px;
		 }
		 .footer__upper__inner__menu__item:last-child:after {
		 	display: none;
		 }
		  .footer__upper__inner__menu__item__link {
		  	color: #fff;
		  }
	.footer__middle {
		width: 100%;
		height: 80px;
		background: #e7683c;
	}
		.footer__middle__inner {
			width: 760px;
			margin: 0 auto;
		}
			.footer__middle__inner__partners {
				margin: 0 auto;
				text-align: center;
			}
				.footer__middle__inner__partners__logo {
					float: left;
					margin: 21px 10px;
				}
	.footer__low {
		width: 100%;
		height: 138px;
		background: #2e2d2c;
	}
		.footer__low__contact {
			padding: 25px 16px 0 25px;
			height: 78px;
			border-bottom: 1px solid #343332;
		}
		.footer__low__contact__live-chat {
			display: block;
			width: 159px;
			height: 30px;
			border: 1px solid #272625;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background-color: #353331;
			-moz-box-shadow: inset 0 1px 0 rgba(53,51,50,.31);
			-webkit-box-shadow: inset 0 1px 0 rgba(53,51,50,.31);
			box-shadow: inset 0 1px 0 rgba(53,51,50,.31);
			color: #fff;
			font: bold 12px 'Arial';
			text-align: center;
			line-height: 30px;
			float: left;
			margin-right: 67px;
		}
		.footer__low__contact__tel {
			float: left;
			font-size: 10px;
			color: #5a5a5a;
		}
		.footer__low__contact__tel__number {
			font: bold 14px 'Arial';
			color: #fff;
		}
		.footer__low__contact__odds-label,
		.footer__low__contact__odds-select {
			float: right;
		}
		.footer__low__contact__odds-label {
			font: bold 12px 'Arial';
			color: #fff;
			padding-right: 9px;
			padding-top: 8px;
		}
		.footer__low__contact__odds-select {
			width: 159px;
			height: 30px;
			border: 1px solid #272625;
			border-radius: 3px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background-color: #353331;
			-moz-box-shadow: inset 0 1px 0 rgba(53,51,50,.31);
			-webkit-box-shadow: inset 0 1px 0 rgba(53,51,50,.31);
			box-shadow: inset 0 1px 0 rgba(53,51,50,.31);
			color: #fff;
			font: bold 12px 'Arial';
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			background: #353331 url(../images/drop-down-white.png) no-repeat 95%;
			padding: 6px 10px 4px;
		}
		.footer__low__copy {
			text-align: center;
			color: #fff;
			padding-top: 23px;
		}
