/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-home {
  background-image: url(../images/spritesheet-icons.png);
  background-position: 0px 0px;
  width: 15px;
  height: 13px;
}
.icon-home2 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -17px 0px;
  width: 15px;
  height: 11px;
}
.icon-home3 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: 0px -15px;
  width: 15px;
  height: 11px;
}
