.active
	&__list
		display flex
		flex-direction row
		justify-content center
		flex-wrap wrap
	&__list-item
		clearfix()
		background $base-grey
		border-radius 6px
		min-width 250px
		padding 10px
		margin 10px
		position relative
		&:hover .active__discr
			visibility visible
			opacity 0.98
	&__info
		float right
		clearfix()
		padding 15px 0
		font-size 13px

	&__info-item
		padding 3px 0
		
	&__discr
		visibility hidden
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		border-radius 6px
		background $base-grey
		opacity 0
		color $text
		padding 20px
		transition visibility 0s, opacity 0.2s linear
		z-index 7
		
.progress-bar
	float left
	margin-right 10px
	width 100px
	height 100px
	position relative
	.percentage
		position absolute
		width 100%
		color $base-green
		text-align center
		z-index 6
		font-size 30px
		font-weight 300
		top 35px
	.progress
		width 100px
		height 100px
		background $base-dark
		border 2px solid $base-dark
		border-radius 50%
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		margin auto
		overflow hidden
	
	.progress:before
		content ''
		text-align center
		color $base-green
		width 70px
		height 70px
		background $base-grey
		position absolute
		border-radius 50%
		left 11px
		top 11px
		z-index 5
		border 2px solid $base-dark
		
	.progress .hide
		height 100%
		width 50%
		position absolute
		left 50%
		top 0
		background $base-dark
		z-index 4
		transform-origin left center
		transform rotate(0deg)
		
	.progress .active, .progress .active2
		width 50%
		height 100%
		background $base-green
		position absolute
		z-index 3
		left 50%
		top 0

	.progress .active2
		transform-origin left center
		transform rotate(0deg)
				