.icon-menu
	float right
	font-size 26px
	padding-right 5px
	
.sidebar
	background $base-darkviolet
	border-right 1px solid $base-grey
	min-width 80px
	max-width 80px
	min-height 100%
	padding 20px 15px 20px 0
	position relative
				
	&__nav-item
		clearfix()
		width 140px
		height 140px
		border-radius 50%
		display block
		color $base-green
		background $base-darkviolet
		border 2px solid $base-grey
		line-height 2em
		font-size 12px
		text-transform uppercase
		text-decoration none
		margin 10px 0 0 -80px
		padding-top 50px
		padding-left 10px
		transition 1s
		
		&:hover
			background $base-darkviolet-hover
			border-color $base-green
			margin-left 0
			font-size 16px
			transition .6s
	