/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-fb {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -413px -188px;
  width: 31px;
  height: 32px;
}
.icon-g_plus {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -413px -109px;
  width: 31px;
  height: 32px;
}
.icon-instagram {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -419px -149px;
  width: 31px;
  height: 32px;
}
.icon-linkedin {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -313px -188px;
  width: 31px;
  height: 32px;
}
.icon-logo-link1 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -346px -188px;
  width: 65px;
  height: 32px;
}
.icon-logo-link2 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -313px -109px;
  width: 98px;
  height: 38px;
}
.icon-logo-link3 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -313px -149px;
  width: 104px;
  height: 37px;
}
.icon-scheme1 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -313px 0px;
  width: 161px;
  height: 107px;
}
.icon-scheme2 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -170px 0px;
  width: 141px;
  height: 124px;
}
.icon-scheme3 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: 0px 0px;
  width: 168px;
  height: 138px;
}
.icon-scheme4 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: 0px -140px;
  width: 177px;
  height: 113px;
}
.icon-twitter {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -179px -140px;
  width: 31px;
  height: 32px;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/* 
 *  Owl Carousel CSS3 Transitions 
 *  v1.3.2
 */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0; }
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--default .select2-results__option[role=group] {
  padding: 0; }
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f6f6f6;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto; }
.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0); }
.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }
.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }
.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0; }
.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }
.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }
.select2-container--classic .select2-dropdown--below {
  border-top: none; }
.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }
.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }
.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{font-family:'museo100';src:url("../fonts/museo100-regular.eot");src:url("../fonts/museo100-regular.eot?#iefix") format('embedded-opentype'),url("../fonts/museo100-regular.woff2") format('woff2'),url("../fonts/museo100-regular.woff") format('woff'),url("../fonts/museo100-regular.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo300';src:url("../fonts/museo300-regular.eot");src:url("../fonts/museo300-regular.eot?#iefix") format('embedded-opentype'),url("../fonts/museo300-regular.woff2") format('woff2'),url("../fonts/museo300-regular.woff") format('woff'),url("../fonts/museo300-regular.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo500';src:url("../fonts/museo500-regular.eot");src:url("../fonts/museo500-regular.eot?#iefix") format('embedded-opentype'),url("../fonts/museo500-regular.woff2") format('woff2'),url("../fonts/museo500-regular.woff") format('woff'),url("../fonts/museo500-regular.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo700';src:url("../fonts/museo700-regular.eot");src:url("../fonts/museo700-regular.eot?#iefix") format('embedded-opentype'),url("../fonts/museo700-regular.woff2") format('woff2'),url("../fonts/museo700-regular.woff") format('woff'),url("../fonts/museo700-regular.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo900';src:url("../fonts/museo900-regular.eot");src:url("../fonts/museo900-regular.eot?#iefix") format('embedded-opentype'),url("../fonts/museo900-regular.woff2") format('woff2'),url("../fonts/museo900-regular.woff") format('woff'),url("../fonts/museo900-regular.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl100';src:url("../fonts/museosanscyrl.eot");src:url("../fonts/museosanscyrl.eot?#iefix") format('embedded-opentype'),url("../fonts/museosanscyrl.woff2") format('woff2'),url("../fonts/museosanscyrl.woff") format('woff'),url("../fonts/museosanscyrl.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl300';src:url("../fonts/museosanscyrl_0.eot");src:url("../fonts/museosanscyrl_0.eot?#iefix") format('embedded-opentype'),url("../fonts/museosanscyrl_0.woff2") format('woff2'),url("../fonts/museosanscyrl_0.woff") format('woff'),url("../fonts/museosanscyrl_0.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl500';src:url("../fonts/museosanscyrl_1.eot");src:url("../fonts/museosanscyrl_1.eot?#iefix") format('embedded-opentype'),url("../fonts/museosanscyrl_1.woff2") format('woff2'),url("../fonts/museosanscyrl_1.woff") format('woff'),url("../fonts/museosanscyrl_1.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl700';src:url("../fonts/museosanscyrl_2.eot");src:url("../fonts/museosanscyrl_2.eot?#iefix") format('embedded-opentype'),url("../fonts/museosanscyrl_2.woff2") format('woff2'),url("../fonts/museosanscyrl_2.woff") format('woff'),url("../fonts/museosanscyrl_2.ttf") format('truetype');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl900';src:url("../fonts/museosanscyrl_3.eot");src:url("../fonts/museosanscyrl_3.eot?#iefix") format('embedded-opentype'),url("../fonts/museosanscyrl_3.woff2") format('woff2'),url("../fonts/museosanscyrl_3.woff") format('woff'),url("../fonts/museosanscyrl_3.ttf") format('truetype');font-weight:normal;font-style:normal}@media all and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:'museo100-regular';src:url("../fonts/museo100-regular.svg#museo100") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo300-regular';src:url("../fonts/museo300-regular.svg#museo300") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo500-regular';src:url("../fonts/museo500-regular.svg#museo500") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo700-regular';src:url("../fonts/museo700-regular.svg#museo700") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo900-regular';src:url("../fonts/museo900-regular.svg#museo900") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl100';src:url("../fonts/museosanscyrl.svg#museo_sans_cyrl100") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl300';src:url("../fonts/museosanscyrl_0.svg#museo_sans_cyrl300") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl500';src:url("../fonts/museosanscyrl_1.svg#museo_sans_cyrl500") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl700';src:url("../fonts/museosanscyrl_2.svg#museo_sans_cyrl700") format('svg');font-weight:normal;font-style:normal}@font-face{font-family:'museo_sans_cyrl900';src:url("../fonts/museosanscyrl_3.svg#museo_sans_cyrl900") format('svg');font-weight:normal;font-style:normal}}*{box-sizing:border-box;-moz-box-sizing:border-box}i{display:inline-block}a{text-decoration:none;cursor:pointer}body{position:relative}html,body{min-height:100%;width:100%;margin:0 auto;background:#fff;font:13px 'museo300';color:#777}input,button,textarea{outline:none;border:none;cursor:pointer}input[type=text]::-ms-clear{display:none}input[type=password]::-ms-reveal{display:none}input[type='submit']{-webkit-appearance:none;-moz-appearance:none;appearance:none}::-webkit-input-placeholder{color:#000}::-moz-placeholder{color:#000}:-ms-input-placeholder{color:#000}input:-moz-placeholder{color:#000}textarea:focus::-webkit-input-placeholder,textarea:focus:-moz-placeholder{color:transparent}.owl-dot{display:inline-block;width:12px;height:12px;background:#47464b;border-radius:50%;margin:10px;}.owl-dot.active{background:transparent;border:1px solid #47464b}.header-wrap{max-width:1600px;margin:0 auto}.wrap{max-width:1150px;margin:0 auto;*zoom:1;}.wrap:after{content:'';display:table;clear:both}.expand-menu{display:none;border-top:5px solid #007ec5;border-bottom:5px solid #007ec5;width:30px;height:30px;background-color:transparent;position:relative;margin:16px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}.expand-menu:after{content:'';position:absolute;display:block;width:100%;height:5px;background-color:#f7901e;left:0;top:8px}.expand-menu-input{display:none}.expand-menu-input:checked + #mobile-menu{display:block}.header{position:absolute;top:0;width:100%;min-height:98px;*zoom:1;}.header:after{content:'';display:table;clear:both}.header__link{display:inline-block;text-indent:-9999px;width:160px;height:135px;background:url("../images/logo.png") no-repeat 50% 25%}.header__logo{display:inline-block;width:20%;min-width:350px;height:135px;background:url("../images/logo-shape.png") no-repeat;padding-left:90px}.header__menu{position:absolute;top:0;right:0;width:85%;min-height:98px;border-bottom:1px solid #f7901e;text-align:right}.header__note,.header__right{display:inline-block;text-transform:uppercase;text-align:right}.header__note{vertical-align:top;padding-top:16px;padding-right:10%;font:18px 'museo_sans_cyrl500';color:#fff;text-align:center}.header__nav-top{*zoom:1;}.header__nav-top:after{content:'';display:table;clear:both}.header__nav-top li{float:right;border-bottom:1px solid #f7901e;}.header__nav-top li.orange-link{background:#f7901e}.header__nav-top li.blue-link{background:#007ec5}.header__nav-top li a{display:inline-block;font:13px 'museo_sans_cyrl500';color:#fff;padding:15px 15px}.header__nav-top li:last-child a{padding-left:0}.header__nav-top li:hover a{color:#007ec5}.header__nav-top li.orange-link:hover a,.header__nav-top li.blue-link:hover a{color:#fff}.header__nav-top li.orange-link:hover,.header__nav-top li.blue-link:hover{opacity:.7}.header__nav-bottom a{font:18px 'museo_sans_cyrl900';color:#fff;display:inline-block;padding:15px 15px 10px 15px;-webkit-transition:border .2s , color .5s;-moz-transition:border .2s , color .5s;-ms-transition:border .2s , color .5s;-o-transition:border .2s , color .5s;transition:border .2s , color .5s;}.header__nav-bottom a:hover{border-bottom:4px solid #f7901e;color:#007ec5}.page-content{width:100%}.main{height:700px;width:100%;display:table;background:#3d414a url("../images/pics/main-bg.jpg") no-repeat;-webkit-background-size:cover;background-size:cover;background-position:50% 50%;color:#fff;}.main__center{display:table-cell;vertical-align:middle;text-align:center}.main__block{display:inline-block;max-width:580px}.main__title{font:48px 'museo_sans_cyrl900';text-transform:uppercase}.main__text{font:24px 'museo500';padding:35px 0 55px}.main__btn{display:inline-block;background:#f36e21;font:24px 'museo_sans_cyrl900';color:#fff;padding:16px;min-width:340px;text-transform:uppercase;}.main__btn:hover{opacity:.7}.note{font:24px 'museo_sans_cyrl300';color:#777;padding:130px 20px}.slider{background:url("../images/triangles.jpg") repeat;*zoom:1;}.slider:after{content:'';display:table;clear:both}.slider__left,.slider__right{width:50%;float:left;height:700px;display:table}.slider__left{border-right:1px solid #c0c8cc;position:relative;}.slider__left:before{content:'';position:absolute;display:block;width:15px;height:13px;background:url("../images/spritesheet-backs.png") 0 0;bottom:-45px;right:-8px}.slider__center{display:table-cell;vertical-align:middle}.slider__box{width:570px;padding:70px}.slider__title{font:36px 'museo300';color:#f36e21;padding-bottom:50px}.slider__text{font:24px 'museo300';color:#77767c}.ipad{max-height:500px;background:#fff;border-radius:35px 0 0 35px;padding:60px 0 60px 60px;position:relative;}.ipad:before{content:'';position:absolute;display:block;width:10px;height:10px;border:1px solid #dcdcdc;border-radius:50%;top:50%;left:25px}.ipad__frame{box-shadow:-1px 1px 4px -1px rgba(0,0,0,0.6);overflow:hidden}.ipad img{width:100%}.scheme{padding:50px 0;text-align:center;}.scheme__title{padding:3px 20px 0;background:#47464b;font:20px 'museo900';color:#fff;letter-spacing:6px;text-transform:uppercase;display:inline-block;line-height:30px;position:relative;}.scheme__title:before{content:'';position:absolute;width:30px;height:50px;background:#fff;left:-23px;border-radius:50%;top:-7px}.scheme__title:after{content:'';position:absolute;width:30px;height:50px;background:#fff;right:-23px;border-radius:50%;top:-7px}.scheme__list{width:100%;text-align:justify;padding-top:100px;position:relative;}.scheme__list:after{content:'';display:inline-block;width:100%}.scheme__list:before{content:'';position:absolute;display:block;width:90%;height:20px;background:#fff;top:56%;left:4%;border-bottom:1px solid #bcbdc0;z-index:1}.scheme__list li{display:inline-block;width:180px;text-align:center;vertical-align:top;margin-bottom:50px;}.scheme__list li:first-child span:before{content:'';position:absolute;display:block;height:20px;width:100px;background:#fff;top:0;left:-10px;z-index:2}.scheme__list li:last-child span:before{content:'';position:absolute;display:block;height:20px;width:100px;background:#fff;top:0;right:-11px;z-index:2}.scheme__list li span{display:block;padding-top:40px;font:22px 'museo500';color:#47464b;position:relative;}.scheme__list li span:after{content:'';position:absolute;display:block;height:20px;width:1px;background:#bcbdc0;top:0;left:50%}.scheme__frame{width:100%;height:160px}.join{height:700px;width:100%;display:table;background:#3d414a url("../images/pics/second-bg.jpg") no-repeat;-webkit-background-size:cover;background-size:cover;background-position:50% 50%;color:#fff;}.join__center{display:table-cell;vertical-align:middle;text-align:center}.join__block{display:inline-block;max-width:450px}.join__text{font:24px 'museo500';padding:35px 0 55px}.join__btn{display:inline-block;background:#f36e21;font:24px 'museo_sans_cyrl900';color:#fff;padding:16px;min-width:340px;text-transform:uppercase;}.join__btn:hover{opacity:.7}.footer{background:#3d414a;padding:60px 0;}.footer__left,.footer__right{width:50%;display:inline-block;vertical-align:top}.footer__left{padding-right:75px;border-right:1px solid #787a81}.footer__right{padding-left:75px}.footer__menu{width:100%;text-align:justify;}.footer__menu:after{content:'';display:inline-block;width:100%}.footer__menu-item{display:inline-block}.footer__menu-title{display:inline-block;text-transform:uppercase;font:14px 'museo900';color:#fff;padding:9px 0}.footer__list{margin-bottom:30px;}.footer__list.contacts li{padding:3px 0}.footer__list li{padding:9px 0;font:13px 'museo300';color:#fff}.footer__list li a{font:13px 'museo300';color:#fff;}.footer__list li a:hover{text-decoration:underline}.footer__contacts{display:inline-block;padding-right:100px}.footer__logos{display:inline-block;}.footer__logos li{padding:6px 0}.footer__links li{margin-right:18px;}.footer__links li:hover a{opacity:.7}.footer__links li,.footer__links a{display:inline-block}.footer__copywrite{font:14px 'museo_sans_cyrl300';color:#fff;padding-top:20px}.footer__btn{display:inline-block;border:2px solid #007ec5;padding:15px 50px;font:24px 'museo_sans_cyrl900';color:#fff;text-transform:uppercase;max-width:265px;margin-top:30px;}.footer__btn:hover{border-color:#f7901e;color:#007ec5}@media only screen and (max-width:1600px){.header__menu{width:80%}}@media only screen and (max-width:1300px){.wrap{padding:0 40px}.slider__box{width:450px;padding:40px}}@media only screen and (max-width:1180px){.header__menu{width:75%}.header__note{padding-right:0;font-size:12px}.main,.slider,.slider__left,.slider__right,.join{height:600px}}@media only screen and (max-width:980px){.header__logo{width:inherit;max-width:inherit;background:none;padding-left:0;height:inherit}.header__link{height:98px}.header__menu{width:100%}.header__note{display:inline-block;text-align:right;padding:20px 15px;font-size:16px}.header__right{display:block}.main__center{vertical-align:bottom;padding:50px 0}.main__title{word-break:break-word}.slider__box{width:300px}.slider__title{font-size:26px}.slider__text{font-size:16px}.ipad{padding:40px 0 40px 40px}.join{background-position:0 50%;}.join__center{padding:50px 0}}@media only screen and (max-width:820px){.scheme__list:before{content:none}.scheme__list li span:after{content:none}}@media only screen and (max-width:768px){.expand-menu{display:inline-block;margin:16px 25px}.header__right{display:none;*zoom:1;width:100%;margin-top:30px;padding:25px}.header__right:after{content:'';display:table;clear:both}.header__nav-top{width:50%;float:left;text-align:left;}.header__nav-top li{background:rgba(0,0,0,0.8)}.header__nav-top li,.header__nav-top a{width:100%}.header__nav-top li.blue-link,.header__nav-top li.orange-link{width:50%}.header__nav-top li:last-child a{padding-left:15px}.header__nav-top li:last-child{border-bottom:1px solid transparent}.header__nav-bottom{width:50%;float:right;text-align:right;}.header__nav-bottom a{width:100%;font-size:13px;padding:15px;border-bottom:1px solid transparent;background:rgba(0,0,0,0.8)}.header__nav-bottom a:hover{border-bottom-width:1px}.header__nav-bottom a:last-child{border-bottom:1px solid transparent}.header__nav-bottom a:last-child:hover{border-bottom:1px solid transparent}.main{height:500px;}.main__title{font-size:38px}.main__text{font-size:18px}.main__btn{font-size:18px;min-width:240px;padding:12px}.note{font-size:18px;padding:50px 20px}.join{height:500px;}.join__text{font-size:18px}.join__btn{font-size:18px;min-width:240px;padding:12px}.footer__left,.footer__right{width:100%;display:block}.footer__left{border-right:none}.footer__right{padding-left:0;padding-top:40px}.footer__btn{vertical-align:top;margin-left:30px}}@media only screen and (max-width:680px){.slider{height:100%;padding-top:30px;}.slider__left,.slider__right{height:100%;width:100%;float:none}.slider__left{border-right:none;}.slider__left:before{content:none}.slider__center{text-align:center}.slider__box{width:400px;margin:0 auto}.ipad{padding:40px;width:80%;margin:0 auto;border-radius:35px;}.ipad:before{left:15px}.ipad__frame{box-shadow:0 1px 6px -1px rgba(0,0,0,0.6)}.scheme{position:relative;}.scheme:before{content:'';position:absolute;display:block;width:15px;height:13px;background:url("../images/spritesheet-backs.png") 0 0;top:25px;left:50%}}@media only screen and (max-width:480px){.expand-menu{margin:0 25px}.wrap{padding:0 10px}.header__note{display:block;font-size:12px}.header__right{margin-top:25px}.header__logo{min-width:320px}.main__title{font-size:24px}.main__text{font-size:16px}.main__btn{font-size:16px;min-width:140px;padding:8px}.slider__box{width:300px;padding:10px}.slider__title{font-size:18px;padding-bottom:25px}.slider__text{font-size:12px}.scheme__title:before,.scheme__title:after{content:none}.join__text{font-size:16px}.join__btn{font-size:16px;min-width:140px;padding:8px}.footer__left{padding-right:0}.footer__right{text-align:center}.footer__contacts{padding-right:20px}.footer__btn{margin-left:0;max-width:100%;width:100%;text-align:center}}@media only screen and (max-width:400px){.scheme__list li{display:block;margin:0 auto;padding:30px 0;border-bottom:1px solid #bcbdc0}}