@font-face {
  font-family: 'ubuntubold';
  src: url("fonts/ubuntu-b-webfont.eot");
  src: url("fonts/ubuntu-b-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ubuntu-b-webfont.woff2") format('woff2'), url("fonts/ubuntu-b-webfont.woff") format('woff'), url("fonts/ubuntu-b-webfont.ttf") format('truetype'), url("fonts/ubuntu-b-webfont.svg#ubuntubold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url("fonts/ubuntu-r-webfont.eot");
  src: url("fonts/ubuntu-r-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ubuntu-r-webfont.woff2") format('woff2'), url("fonts/ubuntu-r-webfont.woff") format('woff'), url("fonts/ubuntu-r-webfont.ttf") format('truetype'), url("fonts/ubuntu-r-webfont.svg#ubunturegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background: #fbfbfb;
  font-family: 'Arial';
  color: #636363;
  font-size: 12px;
  height: 100%;
}
.wrapper {
  padding: 20px;
  height: 100%;
}
.container {
  min-height: 90%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #cfcfcf;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.tabbar {
  width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}
.tabbar__list {
  float: left;
  display: flex;
}
.tabbar__list li {
  padding: 13px 20px;
  font-family: 'ubuntubold';
  border-right: 1px solid #cfcfcf;
  cursor: pointer;
}
.tabbar__list li.active {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: -1px;
}
.tabbar__list li:hover {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: -1px;
}
.tabbar__info {
  float: right;
  padding: 13px;
  font-family: 'ubuntubold';
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.item {
  background: #fbfbfb;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__infogroup {
  display: flex;
  align-items: center;
  padding: 20px;
}
.item__title {
  font-size: 20px;
  padding: 12px 0;
}
.item__text {
  font-size: 11px;
}
.item__text.state {
  line-height: 20px;
}
.item__text.free {
  color: #6cb758;
}
.item__text.paid {
  color: #6fa9bf;
}
.item__text.private {
  color: #a09966;
}
.item__image {
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.item__image img {
  width: 100%;
}
.item__actiongroup {
  display: flex;
  justify-content: space-around;
}
.item__action {
  width: 100%;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Arial';
  color: #636363;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.item__action:hover .popup {
  display: block;
}
.item__icon {
  width: 11px;
  height: 11px;
  margin-right: 6px;
}
a.item__action {
  border-right: none;
}
.icon-user {
  background: url("icons/user.png") no-repeat;
}
.icon-clock {
  background: url("icons/clock.png") no-repeat;
}
.icon-play {
  background: url("icons/play.png") no-repeat;
}
.popup {
  display: none;
  position: absolute;
  padding: 20px 0;
  background: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 10px 29px 0 rgba(0,0,1,0.28);
  font-size: 12px;
  z-index: 1;
  top: 100%;
  left: 50%;
}
.popup:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 1px;
  top: 0;
  left: 50%;
  background: #f9f9f9;
  box-shadow: -2px -2px 6px -1px rgba(0,0,1,0.05);
}
.popup.users-popup {
  width: 187px;
}
.popup.time-popup {
  width: 300px;
}
.users {
  width: 100%;
  max-height: 230px;
  padding: 0 20px;
  overflow: auto;
}
.users li {
  width: 100%;
  line-height: 21px;
}
.users li.online {
  color: #6cb758;
}
.users li.offline {
  color: #a0a0a0;
}
.users__name {
  float: left;
  font-weight: normal;
  word-break: break-word;
  max-width: 70%;
}
.users__amount {
  float: right;
  font-weight: bold;
  color: #636363;
}
.time {
  width: 100%;
  max-height: 230px;
  padding: 0 20px;
  overflow: auto;
}
.time li {
  width: 100%;
  line-height: 21px;
  color: #636363;
}
.time li.connected {
  font-weight: bold;
}
.time li.disconnected {
  font-weight: normal;
}
.time__block {
  float: left;
  font-weight: bold;
  margin-right: 15px;
}
.time__info {
  float: left;
  word-break: break-word;
  max-width: 70%;
}
@media only screen and (max-width: 500px) {
  .tabbar__list {
    float: none;
    display: block;
    text-align: center;
  }
  .tabbar__info {
    float: none;
    display: block;
  }
}
