html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
i {
  display: inline-block;
}
input,
button,
textarea {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
input[type=text]::-ms-clear {
  display: none;
}
input[type=password]::-ms-reveal {
  display: none;
}
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
::-webkit-input-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000 /* firefox 19+ */;
}
:-ms-input-placeholder {
  color: #000 /* ie */;
}
input:-moz-placeholder {
  color: #000;
}
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
@font-face {
  font-family: 'ubuntubold';
  src: url("fonts/ubuntu-b-webfont.eot");
  src: url("fonts/ubuntu-b-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ubuntu-b-webfont.woff2") format('woff2'), url("fonts/ubuntu-b-webfont.woff") format('woff'), url("fonts/ubuntu-b-webfont.ttf") format('truetype'), url("fonts/ubuntu-b-webfont.svg#ubuntubold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubunturegular';
  src: url("fonts/ubuntu-r-webfont.eot");
  src: url("fonts/ubuntu-r-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ubuntu-r-webfont.woff2") format('woff2'), url("fonts/ubuntu-r-webfont.woff") format('woff'), url("fonts/ubuntu-r-webfont.ttf") format('truetype'), url("fonts/ubuntu-r-webfont.svg#ubunturegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background: #fbfbfb;
  font-family: 'Arial';
  color: #636363;
  font-size: 12px;
  height: 100%;
}
.mask {
  position: fixed;
  display: table;
  background: #fbfbfb;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.loader {
  display: table-cell;
  vertical-align: middle;
}
.loader .circle {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  font-size: 14px;
  border-top: 2px solid #636363;
  border-bottom: 2px solid #636363;
  border-radius: 50%;
  padding-top: 55px;
  text-align: center;
  position: relative;
}
.loader .circle:after {
  content: '';
  position: absolute;
  top: 9%;
  left: 9%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border-top: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
  border-right: 2px solid #fbfbfb;
  border-left: 2px solid #fbfbfb;
  animation: circle-green infinite;
  animation-duration: 4s;
  animation-timing-function: linear;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.loader .circle:before {
  content: '';
  position: absolute;
  top: 4%;
  left: 4%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border-top: 2px solid #a0a0a0;
  border-bottom: 2px solid #a0a0a0;
  border-right: 2px solid #fbfbfb;
  border-left: 2px solid #fbfbfb;
  animation: circle-grey infinite;
  animation-duration: 4s;
  animation-timing-function: linear;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.wrapper {
  padding: 20px;
  height: 100%;
}
.container {
  min-height: 90%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #cfcfcf;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.tabbar {
  *zoom: 1;
  width: 100%;
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: -moz-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: -ms-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: -o-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  border: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
}
.tabbar:after {
  content: '';
  display: table;
  clear: both;
}
.tabbar__list {
  float: left;
  display: flex;
}
.tabbar__list li {
  padding: 13px 20px;
  font-family: 'ubuntubold';
  border-right: 1px solid #cfcfcf;
  cursor: pointer;
}
.tabbar__list li.active {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: -1px;
}
.tabbar__list li:hover {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: -1px;
}
.tabbar__info {
  float: right;
  padding: 13px;
  font-family: 'ubuntubold';
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.item {
  background: #fbfbfb;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  margin: 0 10px 10px 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__infogroup {
  display: flex;
  align-items: center;
  padding: 20px;
}
.item__title {
  font-size: 20px;
  padding: 12px 0;
}
.item__text {
  font-size: 11px;
}
.item__text.state {
  line-height: 20px;
}
.item__text.free {
  color: #6cb758;
}
.item__text.paid {
  color: #6fa9bf;
}
.item__text.private {
  color: #a09966;
}
.item__image {
  width: 70px;
  min-width: 70px;
  height: 70px;
  margin-right: 20px;
  position: relative;
}
.item__image.online:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #6cb758;
  border-radius: 50%;
  right: 7px;
  top: 6px;
}
.item__image img {
  width: 100%;
  border-radius: 50%;
}
.item__actiongroup {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: -moz-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: -ms-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: -o-linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
  background: linear-gradient(top, #fefefe, #f4f4f4, #e9e9e9);
}
.item__action {
  width: 100%;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Arial';
  color: #636363;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.item__action:hover .popup {
  display: block;
}
.item__icon {
  width: 11px;
  height: 11px;
  margin-right: 6px;
}
a.item__action {
  border-right: none;
}
.icon-user {
  background: url("icons/user.png") no-repeat;
}
.icon-clock {
  background: url("icons/clock.png") no-repeat;
}
.icon-play {
  background: url("icons/play.png") no-repeat;
}
.popup {
  display: none;
  position: absolute;
  padding: 20px 0;
  background: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0 10px 29px 0 rgba(0,0,1,0.28);
  font-size: 12px;
  z-index: 1;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}
.popup:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 1px;
  top: 0;
  left: 50%;
  background: #f9f9f9;
  box-shadow: -2px -2px 6px -1px rgba(0,0,1,0.05);
  -webkit-transform: rotate(45deg) translate(-50%);
  -moz-transform: rotate(45deg) translate(-50%);
  -ms-transform: rotate(45deg) translate(-50%);
  -o-transform: rotate(45deg) translate(-50%);
  transform: rotate(45deg) translate(-50%);
}
.popup.users-popup {
  width: 187px;
}
.popup.time-popup {
  width: 300px;
}
.users {
  width: 100%;
  max-height: 230px;
  padding: 0 20px;
  overflow: auto;
}
.users li {
  width: 100%;
  line-height: 21px;
  *zoom: 1;
}
.users li:after {
  content: '';
  display: table;
  clear: both;
}
.users li.online {
  color: #6cb758;
}
.users li.offline {
  color: #a0a0a0;
}
.users__name {
  float: left;
  font-weight: normal;
  word-break: break-word;
  max-width: 70%;
}
.users__amount {
  float: right;
  font-weight: bold;
  color: #636363;
}
.time {
  width: 100%;
  max-height: 230px;
  padding: 0 20px;
  overflow: auto;
}
.time li {
  width: 100%;
  line-height: 21px;
  color: #636363;
  *zoom: 1;
}
.time li:after {
  content: '';
  display: table;
  clear: both;
}
.time li.connected {
  font-weight: bold;
}
.time li.disconnected {
  font-weight: normal;
}
.time__block {
  float: left;
  font-weight: bold;
  margin-right: 15px;
}
.time__info {
  float: left;
  word-break: break-word;
  max-width: 70%;
}
@media only screen and (max-width: 500px) {
  .tabbar__list {
    float: none;
    display: block;
    text-align: center;
  }
  .tabbar__info {
    float: none;
    display: block;
  }
}
@-moz-keyframes circle-green {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circle-green {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes circle-green {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle-green {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes circle-grey {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes circle-grey {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes circle-grey {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes circle-grey {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
