/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-logo-star {
  background-image: url(../images/spritesheet-backs.png);
  background-position: 0px 0px;
  width: 9px;
  height: 9px;
}
