/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-arrow-40 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: 0px 0px;
  width: 39px;
  height: 40px;
}
.icon-facebook-32 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -41px 0px;
  width: 32px;
  height: 32px;
}
.icon-flickr-32 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -75px 0px;
  width: 32px;
  height: 32px;
}
.icon-google-32 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: 0px -42px;
  width: 32px;
  height: 32px;
}
.icon-twitter-32 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -34px -42px;
  width: 32px;
  height: 32px;
}
.icon-youtube-32 {
  background-image: url(../images/spritesheet-icons.png);
  background-position: -68px -42px;
  width: 32px;
  height: 32px;
}
